


<section class="profileinfo">
	<div class="wrapper">
		
		<% if !@profile %>
<div class="no-profile alert alert-danger">
	<h3>The profile doesn't exist yet</h3>
	</div>
		<% else %>
		
			<div class="main-box">	
					<%=image_tag @profile.avatar.url(:medium), :class => "main-avatar" %>
					<p><%  
					if @profile.displayname %>
					<%=  @profile.displayname %>
					<% else
						@vendor =  Vendor.find(@profile.vendor_id) %>
					<%=	 Account.find(@vendor.account_id).subdomain %>
				<%	end %> |
					<%= @profile.country%></p>
					<p><%= @profile.aboutme %></p>
					</div>
					<%if vendor_signed_in? %>
					
					<div class="content alert alert-info">
					<h3>Quick review?
						<%    @found = current_vendor.votes.find_by_voteable_id(@profile.id) %>

						<% if @found.nil? %>
						<span class="vote-img">	<%=link_to raw('<span class="glyphicon glyphicon-thumbs-up"></span>'), vote_for_profile_profile_path(@profile), :class=>"vote",:id=>"up", :remote => true %>
						<%=link_to raw('<span class="glyphicon glyphicon-thumbs-down"></span>'), vote_against_profile_profile_path(@profile), :class=>"vote",:id=>"down", :remote => true %></span>
						<% else%>

							<% if  @found.vote == false %>
							<span class="vote-img">	<%=link_to raw('<span class="glyphicon glyphicon-thumbs-up"></span>'), vote_for_profile_profile_path(@profile), :class=>"vote",:id=>"up", :remote => true %>
							<%=link_to raw('<span class="glyphicon glyphicon-thumbs-down"></span>'), vote_against_profile_profile_path(@profile), :class=>"vote",:id=>"down", :remote => true, :disabled => "disabled" %> 	
							</span>

							<% else %>
								<span class="vote-img">	<%=link_to raw('<span class="glyphicon glyphicon-thumbs-up"></span>'), vote_for_profile_profile_path(@profile), :class=>"vote",:id=>"up", :remote => true, :disabled => "disabled" %>
								<%=link_to raw('<span class="glyphicon glyphicon-thumbs-down"></span>'), vote_against_profile_profile_path(@profile), :class=>"vote",:id=>"down", :remote => true %></span>
							<%end%>

							<% end %>
					
				</h3>
				
		</div>	<% end %>
		<div class="content">
		<% if  @profile %>
	<% else %>
	<%= link_to "Complete your Profile", new_profile_path %>
	<%end %>
		</div>
		<div class="small-box">
			<h2 class="list-heading">Listings</h2>
				<ul class="list">
				<% @listings.each do |l| %>
				<a href ="/listings/<%=l.id%>"><li>
				<%= image_tag l.assets.first.image.url('thumb') unless l.assets.first.nil? %>
				<h4><%= l.headline %></h4>
				<p><%= l.askprice %>
				</p>
				</li></a>
				<% end %>
				</ul>
				</div>
				
				<div class="small-box feedbacks">
					<h2 class="list-heading">Reviews <span class="pull-right">
						<span class="upvote"><%= Vote.where('voteable_id =? AND vote =?', @profile.id, true).count %></span> <span class="glyphicon glyphicon-thumbs-up"></span>
						<span class="downvote"><%= Vote.where('voteable_id =? AND vote =?', @profile.id, false).count %> </span><span class="glyphicon glyphicon-thumbs-down"></span>
						
						
						</span></h2>
							<ul class="list">
								
							<% @feedbacks.each do |l| %>
						<li>
							<%= image_tag Profile.find_by_vendor_id(l.author_id).avatar.url('thumb')  %>
							<h4><%= l.reviewbody %><h4>
							</li>
							<% end %>
							</ul>
					</div>
					
					<div class="review-section">
								<% if vendor_signed_in? %>

									
											<div class="review-form">
											
								<%= form_for @review, :class=>"form-horizontal",  :role => "form" do |f| %>
						<div class="form-group">
							<%= f.text_area :reviewbody, :class=> "form-control", :placeholder=>"Write a review" %>
						</div> 
						<%= f.hidden_field :thumbsup, :value => true %>

							<%= f.hidden_field :profile_id, :value => @profile.id %>
							<%= f.hidden_field :author_id, :value => current_vendor.id %>
							<input type="text" name="foo" style="display: none;">

						<div class="form-group">
							<%= f.submit 'Add', :disable_with => 'Adding...', :class =>"btn btn-primary btn-sm" %>
							</div>
							</div>

						<% end %>
						<% else %>
						<%= link_to "Log in to review", new_vendor_session_path, :class => "btn btn-success" %> 

						<% end %>
						</div>
					
				
					
					
						<%end %>
					
</div>		
		
</section>

