	<div class="listings" id="buy">
		
		
		
		<ul class="phone">
		<% @listings.each do |l| %>
		<a href ="/listings/<%=l.id%>">
			<li>
			<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<%= image_tag Profile.find_by_vendor_id(l.vendor_id).avatar.url('thumb') %>
						
						<span class="price">$<%= l.askprice.to_i + 10 %></span>
						<p><strong>Condition: <span class="different"><%= l.devicecondition%></span></strong></p>
			
						
					</div>
					<div class="col-md-6 col-sm-4 col-xs-12">
				<h4><%= l.headline %></h4>
				<p><%= l.description %> <br/>

				</p>
				<p><strong>Seller:</strong> <%= Profile.find_by_vendor_id(l.vendor_id).displayname%></p>
				<p><strong>Location:</strong> <%=l.itemlocation %>, <%=l.country%></p>
				</div>			 
				<div class="col-md-2 col-sm-4 col-xs-12">
						<p><strong>Color:</strong> <%=l.devicecolor %></p>
						<p><strong>Storage:</strong> <%=l.devicestorage %></p>
							<% if l.paypalstatus == "Verified" %>
							<%= image_tag ("/paypal.png"), :class => "icon" %>
							<% end %>
						<% if l.status == "Approved" %>
						<span class="glyphicon glyphicon-ok success"></span>
						<% end %>
					<% if	!l.assets.first.nil? %>
					<span class="glyphicon glyphicon-camera success"></span>
					<% end %>
				</div>
			
			</div>
		</li></a>
		<% end %>
		
		</ul>
	
		
		</div>
