	<div class="listings" id="buy">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#carrier-nav">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				</div>
				  <div class="collapse navbar-collapse" id="carrier-nav">

						<ul class="nav navbar-nav">
							<li><%= link_to "Price: low to high", "/phones/#{@phone.id}?sort=l2h"%></li>
							<li><%= link_to "Price: high to low", "/phones/#{@phone.id}?sort=h2l"%></li>
							<li><%= link_to "Listed: New to old", "/phones/#{@phone.id}?sort=n2o"%></li>
							<li><%= link_to "Listed: Old to new", "/phones/#{@phone.id}?sort=o2n"%></li>
				</ul>
				  </div>

	</nav>
		
		
		<ul class="phone">
		<% @listings.each do |l| %>
		<a href ="/listings/<%=l.id%>">
			<li>
			<div class="row">
					<div class="col-md-6 col-sm-4 col-xs-12">
				<%= image_tag l.assets.first.image.url('thumb') unless l.assets.first.nil? %>
				<h4><%= l.headline %></h4>
				<p><%= l.description %> <br/>

				</p>
				</div>			 
				<div class="col-md-4 col-sm-4 col-xs-12">
					<p><strong>Conditon: <%= l.devicecondition%></strong></p>
					<p>Seller: <%=Profile.find_by_vendor_id(l.vendor_id).displayname%>
						<p>Location: <%=l.itemlocation %>, <%=l.country%></p>
						<p>Color: <%=l.devicecolor %></p>
						<p>Storage: <%=l.devicestorage %></p>

						<% if l.status == "Approved" %>
						<span class="glyphicon glyphicon-ok success"></span>
						<% end %>
					<% if	!l.assets.first.nil? %>
					<span class="glyphicon glyphicon-camera success"></span>
					<% end %>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					<a class="btn btn-success btn-lg" href="/listings/<%= l.id %>">$<%= l.askprice.to_i + 10 %> - Buy now</a>
				</div>
			</div>
		</li></a>
		<% end %>
		
		</ul>
	
		
		</div>
