
		
		<div class="listing_preview featured">
			<ul class="phone">
			<% @listings.each do |l| %>
			<li>
				<div class="headline">
						<a href="/listings/<%=l.id%>" class="pull-left">
							<%= image_tag Profile.find_by_vendor_id(l.vendor_id).avatar.url('thumb'), :class => "seller_img" %>
						</a>
					<a href="/listings/<%=l.id%>"><h4><%= l.headline %></h4></a>
				</div>
				<p><span class="condition nowrap"><%= l.devicecondition%></span></p>
				<p><% if l.paypalstatus == "Verified" %>
				<%= image_tag ("/paypal.png"), :class => "icon" %>
				<% end %>
			<% if l.status == "Approved" %>
			<span class="glyphicon glyphicon-ok"></span>
			<% end %>
		<% if	!l.assets.first.nil? %>
		<span class="glyphicon glyphicon-camera"></span>
		<% end %>
			<% if l.paypalstatus == "VERIFIED" %>
			<%= image_tag ("/paypal.png"), :class => "icon" %>
			<% end %>
				</p>
				<p><span class="storage nowrap"><%=l.devicestorage %></span></p>
				<p><span class="storage nowrap"><%=l.itemlocation %></span></p>
				<p><span class="storage nowrap"><%=l.devicecolor %></span></p>
				<p><span class="seller_info nowrap"><%= Profile.find_by_vendor_id(l.vendor_id).displayname%></span></p>
				
			 </li>
			<hr class="gray">
			<% end %>
			</ul>
			</div>
