	<div class="listings" id="buy">
		
		<ul class="phone">
		<% @listings.each do |l| %>
		<% if Time.now.day - l.updated_at.to_date.day <= 7 && l.status != "Sold" %>
		<a href ="/listings/<%=l.id%>"><li class="row">
			<%= image_tag l.assets.first.image.url('thumb') unless l.assets.first.nil? %>
			<div class="col-md-6 col-sm-4 col-xs-12">
		<h4><%= l.headline %></h4>
		<p><%= l.description %> <br/>
		<span class="price">$<%= l.askprice.to_i + 10 %></span>
			
		</p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<p><strong>Conditon: <%= l.devicecondition%></strong></p>
			<p>Seller: <%=Profile.find_by_vendor_id(l.vendor_id).displayname%>
				<p>Location: <%=l.country%>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-12">
			<a class="btn btn-success" href="/listings/<%= l.id %>">Buy now</a>
		</div>
		</li></a>
		<% end %>
		
		<% end %>
		</ul>
	
		
		</div>
