
		
		<div class="listing_preview featured">
			<ul class="phone">
			<% @listings.each do |l| %>
			<li>
				<div class="row">
					<div class="media col-md-2 col-sm-2 col-xs-12">
						<a href="/listings/<%=l.id%>" class="pull-left">

							<%= image_tag Profile.find_by_vendor_id(l.vendor_id).avatar.url('thumb'), :class => "seller_img" %>

						</a>
					</div>
				<div class="headline col-md-8 col-sm-8 col-xs-12">
					
					<a href="/listings/<%=l.id%>"><h4><%= l.headline %></h4></a>
					<p><span class="storage nowrap"><%=l.devicestorage %></span> storage capacity, <span class="storage nowrap"><%=l.devicecolor %></span> color and in <span class="condition nowrap"><%= l.devicecondition%></span> condition.</p>
				<p><span class="storage nowrap"><%=l.itemlocation %></span></p>
				<p>Listed by <span class="seller_info nowrap"><%= Profile.find_by_vendor_id(l.vendor_id).displayname%></span></p>
					<p><% if l.paypalstatus == "Verified" %>
					<%= image_tag ("/paypal.png"), :class => "icon" %>
					<% end %>
				<% if l.status == "Approved" %>
				<span class="glyphicon glyphicon-ok"></span>
				<% end %>
			<% if	!l.assets.first.nil? %>
			<span class="glyphicon glyphicon-camera"></span>
			<% end %>
				<% if l.paypalstatus == "VERIFIED" %>
				<%= image_tag ("/paypal.png"), :class => "icon" %>
				<% end %>
					</p>
				
				</div>
				<div class="pricing-btn col-md-2 col-sm-2 col-xs-12">
<a href="/listings/<%=l.id%>" class="btn btn-sm btn-success">$<%= l.askprice.to_i + 10 %></a>
</div>

</div>
			 </li>
			<hr class="gray">
			<% end %>
			</ul>
			</div>
