     <div class="text-center">
        <h1 class="text-special">
<%= @phone.modelname %>
        </h1>
      </div>
      <div class="text-center">
        <h4 class="text-lead">
          <%= @phone.carrier %>
        </h4>
      </div>
	<div class="row">
      <div class="col-md-4 ">
       	<%	@imgurl = "/newphoneimages/" + @phone.modelname.gsub(" ", "-").downcase + ".png" %>

			<%= image_tag @imgurl   %>
      </div>

      <div class="col-md-4 phone-page">
        <span  class="glyphicon"><%= Listing.where("phone_id = ? AND status Like ?", @phone.id, "Approved" ).count  %></span>
        <div class="point-text">
          <h3 class="text-special">
            Active listings
          </h3>
          <p>
			Choose from variety of sellers.
          </p>
        </div>
      </div>

      <div class="col-md-4 phone-page">
        <span  class="glyphicon"><%= Listing.where("phone_id = ? AND status Like ?", @phone.id, "Sold" ).count %></span>
        <div class="point-text">
          <h3 class="text-special">
            Sold listings
          </h3>
          <p>
			This phone is fast moving, getting sold like hot cake.
          </p>
        </div>
      </div>
    </div>


      <div class="row-space-top-3 row-space-8 text-center">

			<p class="hero"><a class="btn btn-info" href="/phones/<%=@phone.id%>#buy">
			Buy</a>

			<span class="btn-seperator">OR </span>
		      <a class="btn btn-hero" href="/listings/new?pid=<%=@phone.id%>">
			Sell your <%= @phone.modelname %></a></p><br/>


		</div>