		<div class="outer">

								<div class="centered-800 section rounded offshadow row">
									<div class="col-md-4 offshadow">
										<h2 class="listing-heading"><%= @phone.modelname%></h2>
										<%= image_tag @phone.image.url(:medium) %>
										<br/><br/>
										<a href="#">Specs</a> | 
										<a class="" href="/listings/new?pid=<%= @phone.id %>">Sell one like this</a>

										<hr class="gray">
										<% @list = Listing.find_all_by_phone_id(@phone.id, :order =>'askprice')%>
										
									<span class="price">$<%= @list.first.askprice.to_i + 10  %> - $<%= @list.last.askprice.to_i + 10 %> [<%= @list.count %>]</span>

									</div>
									<div class="col-md-8 listings-section">
										<% if @listings.count > 0 %>

										<div class="alert alert-warning">
											<h4>All the listings below are verified, which means</h4>
											<ul>
												<li>All the listings have pictures.</li>
												<li>None of the phones listed have bad ESN, cracks or water damage</li>
												</ul>
											</div>

											<ul class="nav nav-pills" role="tablist">
											  <li role="presentation" class="active"><a href="#">All</a></li>
											  <li role="presentation"><a href="#">New</a></li>
											  <li role="presentation"><a href="#">Mint</a></li>
											  <li role="presentation"><a href="#">Good</a></li>
											  <li role="presentation"><a href="#">Fair</a></li>


											</ul>							
												<hr class="gray">
									<%else%>
									<div class="no-posts cushion">
									<h2>Sorry there are no listings for this phone yet.</h2>
									<a class="" href="/listings/new?pid=<%= @phone.id %>">Be the first one to sell <%=@phone.modelname%></a>
									</div>
									<%end%>



											<%= render partial: 'phones/listings' %>
											<div class="cushion">
											<%= will_paginate @listings, renderer: BootstrapPagination::Rails  %>
											</div>

									</div>
										<hr class="gray">

									</div>

								</div>	
		</div>	
