<section>
	<div class="wrapper">
		<% if !vendor_signed_in? %>
		<div class="alert alert-danger">
			<p>You are not logged in. Please make sure you <%= link_to "Log in", new_vendor_session_path %> or <%= link_to "Sign up", new_account_path %> before you move ahead.</p>
		</div>
		<%end %>
		<% cache @phone do %>
		
		<%= render partial: 'phones/phone' %>
	  
	<% end %>
		<a class="btn btn-warning btn-lg" href="/listings/new?pid=<%= @phone.id %>">Sell your <%=@phone.modelname%></a>
		
		<% if @listings.count > 0 %>
		
		<div class="alert alert-warning">
			<h4>All the listings below are verified, which means</h4>
			<ul>
				<li>All the listings have pictures.</li>
				<li>None of the phones listed have bad ESN, cracks or water damage</li>
				</ul>
			</div>
		</div>
		<%else%>
		
		<h2>Sorry there are no listings for this phone yet.</h2>
		<a class="" href="/listings/new?pid=<%= @phone.id %>">Be the first one to sell <%=@phone.modelname%></a>
		
		<%end%>
		
	
				<% cache @listings do %>

				<%= render partial: 'phones/listings' %>

			<% end %>
		
		</div>
		</section>