
		</div>
		<section id="hero-intro">
			

				<%= render partial: 'phones/phone' %>

					</section>
<div class="container">
					<section>
						<div class="wrapper">


		
		<% if @listings.count > 0 %>
		
		<div class="alert alert-warning">
			<h4>All the listings below are verified, which means</h4>
			<ul>
				<li>All the listings have pictures.</li>
				<li>None of the phones listed have bad ESN, cracks or water damage</li>
				</ul>
			</div>
			
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
					    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#carrier-nav">
					      <span class="sr-only">Toggle navigation</span>
					      <span class="icon-bar"></span>
					      <span class="icon-bar"></span>
					      <span class="icon-bar"></span>
					    </button>
					</div>
					  <div class="collapse navbar-collapse" id="carrier-nav">

							<ul class="nav navbar-nav">
								<li><%= link_to "Price: low to high", "/phones/#{@phone.id}?sort=l2h"%></li>
								<li><%= link_to "Price: high to low", "/phones/#{@phone.id}?sort=h2l"%></li>
								<li><%= link_to "Listed: New to old", "/phones/#{@phone.id}?sort=n2o"%></li>
								<li><%= link_to "Listed: Old to new", "/phones/#{@phone.id}?sort=o2n"%></li>
					</ul>
					  </div>

		</nav>
			
		<%else%>
		<div class="no-posts cushion">
		<h2>Sorry there are no listings for this phone yet.</h2>
		<a class="" href="/listings/new?pid=<%= @phone.id %>">Be the first one to sell <%=@phone.modelname%></a>
		</div>
		<%end%>
		
	
				<% cache @listings do %>

				<%= render partial: 'phones/listings' %>
				<div class="cushion">
				<%= will_paginate @listings, renderer: BootstrapPagination::Rails  %>
				</div>
			<% end %>
		
		</div>
		</section>