<% content_for :title, "Buy and sell #{@phone.modelname} Singapore" %>


<section class="silver-color">
	<div class="container softshadow">
		<div class="info-bar">
			<h1 class="listing-heading"><%= image_tag @phone.image.url(:medium), :class=>"owner-image" %>
			 <%= @phone.modelname %> for sale in Singapore</h1>
		</div>
	</div>
<div class="container white-color softshadow">
	<div class="row">
	<div class="col-md-3 col-sm-3 col-xs-12 cushion sidebar-nav">
		
		<h4>Phone Condition</h4>
		<hr class="gray">
		<ul class="nav sidebar-nav bigger-font bold-text">
		<li><a href="http://www.phonesalad.com/phones/<%= params[:id] %>?devicecondition=New">New</a></li>
		<li><a href="http://www.phonesalad.com/phones/<%= params[:id] %>?devicecondition=Mint">Mint</a></li>
		<li><a href="http://www.phonesalad.com/phones/<%= params[:id] %>?devicecondition=Good">Good</a></li>
		<li><a href="http://www.phonesalad.com/phones/<%= params[:id] %>?devicecondition=Fair">Fair</a></li>
	<hr class="gray">
	<h4>Phone Storage</h4>
	<hr class="gray">
	<li><a href="http://www.phonesalad.com/phones/<%= params[:id] %>?devicestorage=8%20GB">8 gb</a></li>
	<li><a href="http://www.phonesalad.com/phones/<%= params[:id] %>?devicestorage=16%20GB">16 gb</a></li>
	<li><a href="http://www.phonesalad.com/phones/<%= params[:id] %>?devicestorage=32%20GB">32 gb</a></li>
	<li><a href="http://www.phonesalad.com/phones/<%= params[:id] %>?devicestorage=64%20GB">64 gb</a></li>
	<li><a href="http://www.phonesalad.com/phones/<%= params[:id] %>?devicestorage=128%20GB">128 gb</a></li>
</ul>
	</div>
	<div class="col-md-9 col-sm-9 col-xs-12">
	
	<% if @listings.blank? %>
	<% if params[:devicecondition].blank? && params[:devicestorage].blank? %>
	
	<div>
	<h3 class="cushion-1">Sorry no results found for <%= @phone.modelname %></h3>
	<a class="btn btn-sm orange-flat-button" href="/listings/new?pid=<%= @phone.id %>">Sell <%= @phone.modelname %></a>
	</div>
	<div>
		<h3 class="cushion-1">or check these popular listings</h3>
		<hr class="gray">
		<div class="row">
		<% @popularlistings = Listing.where('status LIKE ?',"Approved").order("impressions_count DESC").limit(6) %>
		<% @popularlistings.each do |l| %>
		<div class="col-md-4 col-sm-4 col-xs-12 grid-list-item">
			<%= image_tag Phone.find(l.phone_id).image.url(:thumb) %>
		<h4 class="bigger-font"><%= l.devicename %> | <%= l.devicecolor %> | <%= l.devicestorage %> | <%= l.devicecondition %></h4>
		<br/>
		<a class="btn graphite-flat-button" href="/listings/<%= l.slug %>">Buy</a>
	</div>
	
		<% end %>
		<% else %>
		<h3 class="cushion-1">Sorry no results found for the filter you applied.</h3>
		<p class="cushion-1 bigger-font">Please <a href="/phones/<%= params[:id]%>">clear the filters</a></p>
		<% end %>
		</div>
	</div>
	<% else %>
	<div class="listings-count cushion-2">
	<h4 class="bigger-font"><%
	@count = @listings.count
	if @count < 30 %>
	Showing <%= @count.to_s + " of " + @count.to_s + " total results" %>
	<%else%>	
	Showing <%= "Showing 1-30 of " + @count.to_s + " total results" %>
	<% end %>
	</h4>
	</div>
	
		<% cache @listings do%>
		<%= render partial: 'phones/listings' %>
		<% end %>
		<div class="cushion">
		<%= will_paginate @listings, renderer: BootstrapPagination::Rails  %>
		</div>
		<% end %>
	</div>

</div>
</div>
</section>
