
		<div class="comments-list">
			<h4> Comments (<%= Comment.get_comment_count(@listing.id)%>)</h4>
		<% @comments.each do  |c| %>
		<div class="comment">
			<%= image_tag Profile.find_by_vendor_id(c.vendor_id).avatar.url(:mini), :class => "img-circle" unless @profile.nil? %>
		<p class="comment-body">
		<strong><%= Comment.get_comment_author(c.vendor_id) unless @profile.nil?  %>: </strong>
		<%
		%>
	<%	@commentbody = c.commentbody.gsub(/[_a-z0-9-]+(.[_a-z0-9-]+)@[a-z0-9-]+(.[a-z0-9-]+)(.[a-z]{2,3})/i, 'forbidden')
%>			<%= @commentbody
	  %>
	<% unless c.picture.nil? %>
	
	<br/>
	<br/>

	<a class="fancybox" href="<%= c.picture.url('original')%>" rel="group"><%= image_tag c.picture.url('small') %></a>
	<% end %>
	
	
	</p></div>
		<% end %>
		
		
	