<div class="outer">
					<div class="main">
						<div class="centered-800 section rounded offshadow">
		
		<%= form_for @listing, :class=>"form-horizontal", :role => "form", :html => { :multipart => true } do |f| %>
		<h4 class="form-title">All the inputs with the <span class="green">asterisk (*)</span> sign are compulsory to fill.</h4>
		
		
			<%= f.text_field :headline, :class=> "form-control required", :placeholder=>"Give a heading to your listing*" %>

		
			<h3>Listing pricing and other details</h3>
			<%= f.text_field :askprice, :class=> "form-control required", :placeholder=>"Your selling price*" %>
			<span class="helper-block">Price in USD</span>
			<%= f.text_field :paypalemail, :class=> "form-control required", :placeholder=>"Your Paypal email address*" %>
			<span class="helper-block">Paypal email will be kept private</span>
			
			
		
		
			

				<div class="existingPaperclipFiles">

					<% if @listing.assets.exists? %>
					<h3>Existing images.</h3>

						<%  @listing.assets.take(5).each do |a| %>
						<%= image_tag a.image.url('thumb') %>
						<% end %>
			            <% end %>

						<h3>Upload you verification images.</h3>
						<%= f.fields_for :assets do |asset| %>
						 <%= asset.file_field :image, :class=> "form-control" %>

						<% end %>






				</div>
<br/>
<br/>
	
			
		<%= f.submit "Update", :disable_with => 'Updating...', :class =>"btn redround" %>
		<% end %>
	</div>	
	</div>
</div>