<section>
	<div class="wrapper">
		
		
		<%= form_for @listing, :class=>"form-horizontal",  :role => "form", :html => { :multipart => true } do |f| %>
		
			<div class="form-group">
			<div class="input-group-lg">
				<h3>Meta data about the listing</h3>
				
			<%= f.text_field :headline, :class=> "form-control", :placeholder=>"Give a heading to your listing" %>

			<%= f.text_area :description, :class=> "form-control", :placeholder=>"Describe your phone a little" %>
			</div>
			</div>
			<div class="form-group">
			<div class="input-group-lg">
				<h3>Condition of the device. Be honest. Err on the safer side.</h3>
		
			<%= f.radio_button :devicecondition, :mint %>	<%= f.label :devicecondition, " Mint" %>
			<ul>
				<li>Functions flawlessly</li>
				<li>Perfect screen condition</li>
				<li>No signs of use</li>
				</ul>
			
			<%= f.radio_button :devicecondition, :good %> <%= f.label :devicecondition, " Good" %>
			<ul>
				<li>Functions flawlessly</li>
				<li>Good screen condition</li>
				<li>Few Cosmetic imperfections</li>
				</ul>
			
			<%= f.radio_button :devicecondition, :fair %> <%= f.label :devicecondition, " Fair" %>
				<ul>
					<li>Functions flawlessly</li>
					<li>Good screen condition</li>
					<li>Some scratches or worn paint</li>
					</ul>
			
			</div>
			</div>
			
			<div class="form-group">
			<div class="input-group-lg">
			<h3>Listing pricing and other details</h3>
			<%= f.text_field :askprice, :class=> "form-control", :placeholder=>"Asking price" %>			
			<%= f.text_field :paypalemail, :class=> "form-control", :placeholder=>"Your Paypal email address" %>
			<span class="helper-block">Will be kept private</span>
			<%= f.text_field :expirydate, :class=> "form-control", :placeholder=>"Expiry date of the listing" %>
			</div>
			</div>
			
			<div class="form-group">
			<div class="input-group-lg">
			<h3>Device Details</h3>
			<%= f.text_field :devicename, :class=> "form-control", :placeholder=>"Name or Model of you phone" %>
			<%= f.text_field :devicecarrier, :class=> "form-control", :placeholder=>"Carrier or Service provider" %>
			<%= f.text_field :deviceimei, :class=> "form-control", :placeholder=>"IMEI number" %>
			<span class="helper-block">Will be kept private</span>
			<%= f.text_field :devicecolor, :class=> "form-control", :placeholder=>"Color" %>
			<%= f.text_field :devicestorage, :class=> "form-control", :placeholder=>"Phone Storage capacity" %><br/>
			<%= f.label:modified, "Has the device been modified in any way. rooted or something?" %><br/>
			<%= f.radio_button :modified, :true %> <%= f.label:modified, " Yes" %>
			<%= f.radio_button :modified, :false %> <%= f.label:modified, " No" %><br/><br/>
			<%= f.text_field :accessories, :class=> "form-control", :placeholder=>"List of accessories with the phone" %>
			</div>
			</div>
			<div class="form-group">
			<div class="input-group-lg">
			<h3>Shipping Details</h3>
			<%= f.text_field :country, :class=> "form-control", :placeholder=>"Your Country" %>
			<%= f.text_field :itemlocation, :class=> "form-control", :placeholder=>"Where is the item located?" %><br/>
				<%= f.label:paypalconfirmed, "Do you want the buyer to have paypal comfirmed shipping address?" %><br/>
				<%= f.radio_button :paypalconfirmed, :true %> <%= f.label:paypalconfirmed, " Yes" %>
				<%= f.radio_button :paypalconfirmed, :false %> <%= f.label:paypalconfirmed, " No" %><br/><br/>
			<%= f.label:shipinternationally, "Will you ship internationally?" %><br/>
			<%= f.radio_button :shipinternationally, :true %>  <%= f.label:shipinternationally, " Yes" %>
			<%= f.radio_button :shipinternationally, :false %> <%= f.label:shipinternationally, " No" %><br/><br/>
			
			<%= f.text_area :shippingdetails, :class=> "form-control", :placeholder=>"Details on how you will ship, if you do." %>
			</div>
			</div>
				<div class="form-group">
				<div class="input-group-lg">
				<h3>Return policy</h3>
					<%= f.label:returnsallowed, "Will you accept returns?" %><br/>
					<%= f.radio_button :returnsallowed, :true %> <%= f.label:returnsallowed, " Yes" %>
					<%= f.radio_button :returnsallowed, :false %> <%= f.label:returnsallowed, " No" %><br/><br/>
					<%= f.text_area :returnpolicy, :class=> "form-control", :placeholder=>"Your return policy, if you accept reutrns." %>
			
			</div>
			</div>
			
			<div class="form-group">
			<div class="input-group-lg">
			
			<div class="existingPaperclipFiles">

			     <% f.fields_for :assets do |asset| %>

			          <% unless asset.object.new_record? %>

			                <div class="thumbnail">
			                        <%= link_to( image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:original) ) %>
			                </div>

			          <% end %>        

			     <% end %>
			</div>
			
			
			
			
			
			
		</div>  
		</div>

		<div class="form-group">
		<%= f.submit "Update", :disable_with => 'Updating...', :class =>"btn btn-success btn-lg btn-block" %>
		<% end %>
		
	</div>
</section>