<section>
	<div class="wrapper">
		<div class="selling-form pull-left">
		
			
		<%= form_for @listing, :class=>"form-horizontal",  :role => "form", :html => { :multipart => true } do |f| %>
		
	
		
		
			<div class="form-group">
			<div class="input-group-lg">
				<h3>Meta data about the listing</h3>
				
			<%= f.text_field :headline, :class=> "form-control", :placeholder=>"Give a heading to your listing" %>

			<%= f.text_area :description, :class=> "form-control", :placeholder=>"Describe your phone a little" %>
			</div>
			</div>
			<div class="form-group">
			<div class="input-group-lg">
				<h3>Condition of the device.</h3>
		
			<%= f.radio_button :devicecondition, :mint %>	<%= f.label :devicecondition, " Mint" %>
			<ul>
				<li>Functions flawlessly</li>
				<li>Perfect screen condition</li>
				<li>No signs of use</li>
				</ul>
			
			<%= f.radio_button :devicecondition, :good %> <%= f.label :devicecondition, " Good" %>
			<ul>
				<li>Functions flawlessly</li>
				<li>Good screen condition</li>
				<li>Few Cosmetic imperfections</li>
				</ul>
			
			<%= f.radio_button :devicecondition, :fair %> <%= f.label :devicecondition, " Fair" %>
				<ul>
					<li>Functions flawlessly</li>
					<li>Good screen condition</li>
					<li>Some scratches or worn paint</li>
					</ul>
					
						<%= f.radio_button :devicecondition, :new %> <%= f.label :devicecondition, " New" %>
							<ul>
								<li>Never activated, rooted, or refurbished</li>
								<li>Includes original box and all accessories</li>
								<li>No signs of use</li>
								</ul>
			
			</div>
			</div>
			
			<div class="form-group">
			<div class="input-group-lg">
			<h3>Listing pricing and other details</h3>
			<%= f.text_field :askprice, :class=> "form-control", :placeholder=>"Asking price" %>			
			<%= f.text_field :paypalemail, :class=> "form-control", :placeholder=>"Your Paypal email address" %>
			<span class="helper-block">Will be kept private</span>
			<br/><br/><%= f.label :expirydate %>
			<div id="expirydate">
			  <%= f.date_select :expirydate, { :start_year => Time.now.year , :end_year => Time.now.year,:default => 15.days.from_now, :prompt => true, :order => [:day, :month, :year]} %>
			</div>
			</div>
			</div>
			
			<div class="form-group">
			<div class="input-group-lg">
			<h3>Device Details</h3>
			<%= f.text_field :devicename, :class=> "form-control", :value=> Phone.find(params[:pid]).modelname, :readonly => true %>
			<%= f.text_field :devicecarrier, :class=> "form-control", :value=>Phone.find(params[:pid]).carrier, :readonly => true  %>
			<%= f.hidden_field :phone_id, :value=> params[:pid] %>
			
			<%= f.text_field :deviceimei, :class=> "form-control", :placeholder=>"IMEI number" %>
			<span class="helper-block">Will be kept private</span>
			<%= f.text_field :devicecolor, :class=> "form-control", :placeholder=>"Color" %>
			<%= f.text_field :devicestorage, :class=> "form-control", :placeholder=>"Phone Storage capacity" %><br/>
			<%= f.label:modified, "Has the device been modified in any way. rooted or something?" %><br/>
			<%= f.radio_button :modified, :true %> <%= f.label:modified, " Yes" %>
			<%= f.radio_button :modified, :false %> <%= f.label:modified, " No" %><br/><br/>
			<%= f.text_field :accessories, :class=> "form-control", :placeholder=>"List of accessories with the phone" %>
			</div>
			</div>
			<div class="form-group">
			<div class="input-group-lg">
			<h3>Shipping Details</h3>
			<h4>Use the drop-down menus to choose your country and itemlocation</h4>
			<br/><%=f.label:country, "Country" %><%= f.country_select :country, ["United States"]%><br/><br/>
			<%=f.label:itemlocation, "Item location" %> <%= f.country_select :itemlocation, ["United States"] %><br/><br/>
				<%= f.label :paypalconfirmed, "Do you want the buyer to have paypal comfirmed shipping address?" %><br/>
				<%= f.radio_button :paypalconfirmed, :true %> <%= f.label:paypalconfirmed, " Yes" %>
				<%= f.radio_button :paypalconfirmed, :false %> <%= f.label:paypalconfirmed, " No" %><br/><br/>
			<%= f.label:shipinternationally, "Will you ship internationally?" %><br/>
			<%= f.radio_button :shipinternationally, :true %>  <%= f.label:shipinternationally, " Yes" %>
			<%= f.radio_button :shipinternationally, :false %> <%= f.label:shipinternationally, " No" %><br/><br/>
			
			<%= f.text_area :shippingdetails, :class=> "form-control", :placeholder=>"Details on how you will ship, if you do." %>
			</div>
			</div>
				<div class="form-group">
				<div class="input-group-lg">
				<h3>Return policy</h3>
					<%= f.label:returnsallowed, "Will you accept returns?" %><br/>
					<%= f.radio_button :returnsallowed, :true %> <%= f.label:returnsallowed, " Yes" %>
					<%= f.radio_button :returnsallowed, :false %> <%= f.label:returnsallowed, " No" %><br/><br/>
					<%= f.text_area :returnpolicy, :class=> "form-control", :placeholder=>"Your return policy, if you accept reutrns." %>
			
			
			</div>
			</div>
			
			<div class="form-group">
			<div class="input-group-lg">
				<%= f.hidden_field :status, :value=>"Pending" %>
				
				<h3>Upload pictures- [needed to get the listing verified]</h3>
				
					<div class="newPaperclipFiles">

					        <%= f.fields_for :assets do |asset| %>
						 
					           <% if asset.object.new_record? %>
					                 <%= asset.file_field :image, :class=> "form-control" %>
					           <% end %>

					       <% end %>

					</div>
			
			
			
			
		</div>  
		</div>
		
		

		<div class="form-group">
				<div class="other-terms alert-info">
					<h4>TERMS & CONDITIONS</h4>
					<ul>
					<li>Once your device sells you will be expected to ship it to the buyer within two (2) business days of receiving payment.</li><li>
					Once your device sells you will need to ensure it is un-registered from your carrier's account (if applicable).</li><li>
					If you have your device is listed on other services (e.g. eBay, Craigslist), it is your responsibility to remove the listing from our site immediately if your device sells elsewhere.</li><li>
					You will be asked to provide a "verification photo" showing your listing code (assigned after listing is created) written on a piece of paper next to the device you're selling.</li><li>
					You must be capable of receiving payments via PayPal and be willing to accept their fees.</li><li>
					The same device cannot be listed in multiple international markets at the same time.</li></ul>
					</div>
			<%= f.check_box :terms %>  <%= f.label:terms, " I accept all the terms and conditions and hereby pledge to oblige to them." %>
			
			</div>
<div class="form-group">
			<%= f.submit "Go", :disable_with => 'Going...', :class =>"btn btn-success btn-lg btn-block" %>
		<% end %>
		
		</div>
		</div>
		
		
		<div class="selling-instructions pull-right">
			<div class="instructions alert-success">
				<h4>REQUIRED:</h4>
<ul>
			<li>	Device is fully functional, including all buttons and ports.</li><li>
				Device is and ready for activation and not reported lost or stolen.</li><li>
				Device is free of cracks and water damage and other non-cosmetic damage.</li><li>
				Device has functional battery (not damaged) included with sale.</li><li>
				The device and seller must otherwise qualify for sale in accordance with our Terms of Use.</li></ul>
				
				<h4>NOT ALLOWED:</h4>
				<ul>
							<li>
				Device with bad ESN (or otherwise not able to activated).</li><li>
				Device with cracks on screen or glass.</li><li>
				Device with water damage (or missing moisture indicator stickers).</li><li>
				Devices with an outstanding EIP balance (money owed to carrier).</li></ul>
				</div>
			
				
			</div>
	</div>
</section>