<% content_for :title, "#{@listing.headline}  in Singapore" %>
<section class="show silver-color">
<div class=" container">


<div class="row">
<div class="col-md-5">
	<div class="summary white-color offshadow">
		<div class="center-image row">
			<div class="col-md-4 col-sm-6 col-xs-12">
			<%= image_tag @phone.image.url(:medium)%>
		</div>
		<div class="col-md-8 col-sm-6 col-xs-12">
			<div class="row cushion">
					<div class="col-md-12 col-sm-12 col-xs-12">
					<h4><%= @phone.modelname %></h4>
						<hr class="gray">
					<h4>Listed by <a href="/profiles/<%=@profile.id%>"><%= @author.firstname%></a></h4>
					</div>

				<div class="col-md-6 col-sm-6 col-xs-6">
					Member Since:<br/><%= @author.created_at.to_date %>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-6">
					Last seen on:<br/><%= time_ago_in_words(@author.last_sign_in_at) %> ago
				</div>
		
				<div class="col-md-6 col-sm-6 col-xs-6">
					Reviews:<br/> 
					<span class="upvote"><%= Vote.where('voteable_id =? AND vote =?', @profile.id, true).count %></span> <span class="glyphicon glyphicon-thumbs-up"></span>
					<span class="downvote"><%= Vote.where('voteable_id =? AND vote =?', @profile.id, false).count %> </span><span class="glyphicon glyphicon-thumbs-down gray"></span>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					Phone:<br/><strong><%= @phone.modelname %></strong>
				</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						Color:<br/><strong><%= @listing.devicecolor %></strong>
					</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							Memory:<br/><strong><%= @listing.devicestorage %></strong>
						</div>
							<div class="col-md-6 col-sm-6 col-xs-6">
								Condtion:<br/><strong><%= @listing.devicecondition %></strong>
							</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									Location:<br/><strong><%= @listing.itemlocation %></strong>
								</div>
								
								
				
			</div>
			<hr class="gray">
			<div class="col-md-12 col-sm-12 col-xs-12">
			<h4>Price:  S$ <%= @listing.askprice + 20 %></h4>
			</div>
		</div>
		</div>
		
		<% if @listing.status == "Approved" &&  @listing.deliveryby == "courier" %>
			<h1><a href="/transactions/initiatetransaction?l=<%=@listing.id%>" class="btn green-sea-flat-button buy-btn">Buy now - $ <%=@listing.askprice.to_i + 20 %></a></h1>
		<% end %>
		
		<% if @listing.status == "Approved" &&  @listing.deliveryby == "pickup" %>
			<h1><a href="/transactions/codtransaction?l=<%=@listing.id%>" class="btn green-sea-flat-button buy-btn">Offer to Meetup</a></h1>
		<% end %>

			<% if @listing.status == "Pending"%>	
				<h1 class="outlined-heading black-outline">Listing is Pending review</h1>
			<% end %>
			<% if @listing.status == "Sold"%>	
			<h1 class="outlined-heading black-outline">Listing has been sold.</h1>
			<% end %>														

	
	
		
	</div>
	
</div>
<div class="col-md-7">
<div class="white-color offshadow cushion listing-detail">
	<div>
			 	<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-share-button" data-layout="button_count"></div>	    <!-- end like -->   
			<script src="//platform.linkedin.com/in.js" type="text/javascript">
			  lang: en_US
			</script>
			<script type="IN/Share" data-counter="right"></script>
	    <!-- +1 -->
	    <div class="plusone">
	    <!-- Place this tag where you want the +1 button to render -->
	    <g:plusone size="medium" annotation="none"></g:plusone>
	    <!-- Place this render call where appropriate -->
	    <script type="text/javascript">
	      (function() {
	        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	        po.src = 'https://apis.google.com/js/plusone.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	      })();
	    </script>    
	    </div>
	    <!-- end +1 -->
	    <!-- twitter -->
	    <div class="twitter">
	   			<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	    </div>
	    <!-- end twitter -->
	    <!-- like -->
		
			<h3><%= @listing.headline %></h3>
	
			<p><%= @listing.description %>
			</p>
			<% if user_signed_in?  %>
				<% if current_user.id == @listing.user_id %>
		<a href="/listings/<%=@listing.slug%>/edit" class="bigger-font pull-right">Edit Listing</a>
			    <% end %>
			<% end %>
	</div>
		<div class="listing-images">
		
			<%  @listing.assets.each do |a| %>											
		    	<div class="img-container offshadow"><a class="fancybox" href="<%= a.image.url('large')%>" rel="group"><%= image_tag a.image.url('small') %></a></div>
			<%end%>
	</div>


	
	
	<div class="row mini-info">

		<div class="col-md-6">
		<h3>Accessories</h3>
		</div>
		<div class="col-md-6">
		<p ><%= @listing.accessories %></p>
		</div>
	</div>
	
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Condition</h3>
		</div>
		<div class="col-md-6">
			<p class="devicecondition">
			<%= @listing.devicecondition %>
				
			<% if @listing.devicecondition == "Mint"%>
				<ul>
					<li>Functions flawlessly</li>
					<li>Perfect screen condition</li>
					<li>No signs of use</li>
					</ul>
					<% end %>
					<% if @listing.devicecondition == "Good"%>

				<ul>
					<li>Functions flawlessly</li>
					<li>Good screen condition</li>
					<li>Few Cosmetic imperfections</li>
					</ul>
						<% end %>
						<% if @listing.devicecondition == "Fair"%>

					<ul>
						<li>Functions flawlessly</li>
						<li>Good screen condition</li>
						<li>Some scratches or worn paint</li>
						</ul>
							<% end %>
							<% if @listing.devicecondition == "New"%>
								<ul>
									<li>Never activated, rooted, or refurbished</li>
									<li>Includes original box and all accessories</li>
									<li>No signs of use</li>
									</ul>
										<% end %>
			</p>
		</div>
	</div>
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Modification</h3>
		</div>
		<div class="col-md-6">
			<p><%=@listing.moddetails %></p>
		</div>
	</div>
	
<% if @listing.deliveryby == "courier" %>
	<div class="row mini-info shipping">
		<div class="col-md-6">
		<h3>Shipping Information</h3>
		</div>
		<div class="col-md-6">
		<p>Item Location: <%= @listing.itemlocation %></p>
		<p>Delivery Method: <%=  @listing.deliveryby %></p>
		<p>Ship Internationally: <%= @listing.shipinternationally %></p>
		<p>Delivery method details: The seller has to ship in 2 days once the order has been placed. <%=  @listing.shippingdetails %></p>
		</div>
	</div>
<% else %>
<div class="row mini-info pickupdetails">
	<div class="col-md-6">
	<h3>Meetup details</h3>
	</div>
	<div class="col-md-6">
	<p>Item Location: <%= @listing.itemlocation %></p>
	<p>Delivery Method: <%=  @listing.deliveryby %></p>
	<p>Delivery method details: <%=  @listing.pickupaddress %></p>
	</div>
</div>
<% end %>

	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Return Policy</h3>
		</div>
		<div class="col-md-6">
		<p >
			<% if  @listing.returnsallowed == true %>
			This seller will accept returns.<br/>
			
			Return policy:
			<%=  @listing.returnspolicy %>
			</p>
			
			<% else %>
				This seller will NOT accept returns.</p>
			<% end %>
		</div>
	</div>
	
</div>
</div>



<div class="col-md-12">
<div class="white-color offshadow cushion">
		<%= render partial: 'listings/comments' %>
<hr class="gray">

		<div class="comment-form">
			<% if user_signed_in? %>
			<div class="comment-form">
				<%= form_for @comment, :class=>"form-horizontal",  :role => "form", :html => { :multipart => true } do |f| %>
			
		<div class="form-group">
			<h4> Add a new Comment</h4>
			<br/>
			<%= f.text_area :commentbody, :class=> "form-control", :placeholder=>"Write something here" %>
			<br/>
		<%= f.label :picture, "Upload any additional picture" %><%= f.file_field :picture %>
		<%= f.hidden_field :listing_id, :value => @listing.id %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :status, :value => "Pending" %>
		<input type="text" name="foo" style="display: none;">
		<br/>
		<%= f.submit "Add a comment", :disable_with => 'Adding...', :class =>"btn red-color submit" %></div>
		<% end %>

		<% else %>
		<%= link_to "Log in to comment", new_user_session_path, :class => "btn btn-success" %> 
			<% end %>
		</div>

</div>
</div>


</div>



</div>
</section>

