<section class="red-color auth-form-section full-height">
		<div class="hero-content container">
		<h1 class="page-heading auth-form-heading">forgot your password?</h1>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {class:"auth-form", :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %>

<br/>
<%= f.submit "Send me reset password instructions", :class=> "btn btn-sm btn-success " %>
<div class="form-links">
	<%= render "devise/shared/links" %>
</div>
<% end %>
<br/><br/>

</div>
</section>
