<section id="sell">
	<div class="wrapper">
		<div id="aboutsellpage" class="cushion">
			<h2>How to Buy a mobile phone on Zalpe</h2>
	
	</div>
		<section>
		  <div class="text-center">
	        <h3 class="text-special">
	        Login or Sign up
	        </h3>
	      </div>
	      <div class="text-center">
	        <p class="text-lead">

	        </p>
	      </div>

			     <div class="text-center">
			       <%if vendor_signed_in? %>
			<p class="text-lead">You are already signed in.</p>
			<%else%>
				<p class="hero"><button class="btn btn-info" data-toggle="modal" data-target="#something">
				Sign in</button>

				<span class="btn-seperator">OR </span>
			      <button class="btn btn-hero" data-toggle="modal" data-target="#myModal">
				Create a free account</button></p><br/>

				
			
		

				<div class="modal fade" id="something" tabindex="-1" role="dialog" aria-labelledby="somethingLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h1 class="modal-title hero" id="somethingLabel">Sign in</h1>
				      </div>
				      <div class="modal-body">
						<%= form_for(@vendor, :url => session_path(@vendor)) do |f| %>
						 	<div class="form-group">
							<div class="input-group-lg">
						 <%= f.email_field :email, :class=> "form-control required", :placeholder=>"Email", :required => true %>
						 <%= f.password_field :password, :class=> "form-control required", :placeholder=>"Password", :required => true %>
						</div>
						</div>


				      </div>
				      <div class="modal-footer">
				        	<div class="form-group"> <%= f.submit "Sign in", :disable_with => 'Signing in...', :class =>"btn btn-primary btn-lg" %></div>
						<% end %>
				      </div>
				    </div>
				  </div>
				</div>




					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h1 class="modal-title hero" id="myModalLabel">Create a free account
							</h1>
					      </div>
					      <div class="modal-body">
								<%= form_for @account, :class=>"form-horizontal",:id=> "account-form",  :role => "form" do |f| %>
									<div class="form-body">
										<div class="form-group">
										<div class="input-group-lg">
											<%= f.text_field :subdomain, :class=> "form-control required", :placeholder=>"Display name" %>
										</div>  
										</div>

										<%= f.fields_for :owner do |builder| %>
										<div class="form-group">
										<div class=" input-group-lg">
											<%= builder.text_field :email, :class=> "form-control required", :placeholder=>"Email" %>
										</div>  
										</div>
										<div class="form-group">
										<div class="input-group-lg">
											<%= builder.password_field :password, :class=> "form-control required", :placeholder=>"Password" %>
										</div>  
										</div>
										<div class="form-group">
										<div class="input-group-lg">
											<%= builder.password_field :password_confirmation, :class=> "form-control required", :placeholder=>"Password Confirmation" %>
										</div>  
										</div>

										<%= builder.fields_for :profile do |p| %>
										<div class="form-group">
										<div class=" input-group-lg">
										<%=p.label:country, "Country" %> <%= p.country_select :country, ["United States"] %>
										</div>  
										</div>

										<% end %>

										<% end %>



					      </div>
					      <div class="modal-footer">
					       			<div class="form-group">
									<%= f.submit "Signup", :disable_with => 'Adding...', :class =>"btn btn-primary btn-lg" %></div>	<% end %></div>



					    </div>
					  </div>
					</div>
			
			<%end%>

			    


	</div>
	</section>
	
	<section>
					      <div class="text-center">
					        <h3 class="text-special">
					        Search your phone
					        </h3>
					      </div>
					      <div class="text-center">
					        <p class="text-lead">

					        </p>
					      </div>
						<div class="text-center">
							<form class="form-inline" role="search" action ="/pages/searchresults">
						      <div class="form-group">
								<input type="text" name="search" placeholder ="Find your phone" class="typeahead form-control">		      </div>
						      <button type="submit" class="btn btn-default">Go</button>
						    </form>
</div>
</section>
				
	<section>
					      <div class="text-center">
					        <h3 class="text-special">
						Go to the phone page & browse all the listings
					       </h3>
					      </div>
					      <div class="text-center">
					        <p class="text-lead">
								Click on any one you like.
					        </p>
					      </div>
						<div class="text-center">
							<%=image_tag("/buylistings.png")%>
						
</div>
</section>
<section>
				      <div class="text-center">
				        <h3 class="text-special">
					Review the listing details.
				       </h3>
				      </div>
				      <div class="text-center">
				        	<p class="text-lead">
								Converse with the seller, through comments, if needed.
					        </p>
				      </div>
					<div class="text-center">
						<%=image_tag("/listingreview.png")%>
					
</div>
</section>

<section>
				      <div class="text-center">
				        <h3 class="text-special">
				Click buy now button, whenever you're ready.
				       	</h3>
				      </div>
				      <div class="text-center">
				           <p class="text-lead">
								Pay through paypal. Wait for your phone to arrive to your address.
					        </p>
				      </div>
						<div class="text-center">
							<%=image_tag("/listingreviewbuy.png")%>

	</div>
</section>

					      

		
		
		
		</div>
		</section>