<section class="dashboard">
	<div class="wrapper">
		<% @profil = Profile.find_by_vendor_id(current_vendor.id)  %>
			<div class="main-box">	
					<%=image_tag @profil.avatar.url(:medium), :class => "main-avatar" %>
					<%= link_to "Edit Profile", "/profiles/#{@profil.id}/edit" %> <span class="glyphicon glyphicon-asterisk"></span>
					<%= link_to "Sell", "/pages/about#sell" %> <span class="glyphicon glyphicon-asterisk"></span>
					<%= link_to "Buy", "/profiles/about#buy" %>
					
		</div>
		<div class="content">
		<% if  @profil %>
	<% else %>
	<%= link_to "Complete your Profile", new_profile_path %>
	<%end %>
		</div>
		<div class="small-box">
			<h2 class="list-heading">Listings</h2>
			<ul class="nav nav-tabs">
			  <li class="active"><a href="#active" data-toggle="tab">Active</a></li>
			  <li><a href="#sold" data-toggle="tab">Sold</a></li>
			  <li><a href="#pending" data-toggle="tab">Pending</a></li>
			</ul>
			<div class="tab-content">
			  <div class="tab-pane active" id="active">	<ul class="list">
				<% @listings.each do |l| %>
				<% if l.status == 'Approved'%>
				<a href ="/listings/<%=l.id%>"><li>
				<%= image_tag l.assets.first.image.url('thumb') unless l.assets.first.nil? %>
				<h4><%= l.headline %></h4>
				<p><%= l.askprice %>
				</p>
				</li></a>
				<% end %>
				<% end %>
				</ul></div>
			  <div class="tab-pane" id="sold">
				<ul class="list">
					<% @listings.each do |l| %>
					<% if l.status == 'Sold'%>
				
					<a href ="/listings/<%=l.id%>"><li>
					<%= image_tag l.assets.first.image.url('thumb') unless l.assets.first.nil? %>
					<h4><%= l.headline %></h4>
					<p><%= l.askprice %>
					</p>
					</li></a>
					<% end %>
					<% end %>
					</ul>  	
			
			  </div>
			  <div class="tab-pane" id="pending">
			  	
				<ul class="list">
					<% @listings.each do |l| %>
					<% if l.status == 'Pending'%>
					<a href ="/listings/<%=l.id%>"><li>
					<%= image_tag l.assets.first.image.url('thumb') unless l.assets.first.nil? %>
					<h4><%= l.headline %></h4>
					<p><%= l.askprice %>
					</p>
					</li></a>
					<% end %>
					<% end %>
					</ul>
			
			  </div>
			</div>
				</div>
				
				<div class="small-box">
						<h2 class="list-heading">Reviews <span class="pull-right">
							<span class="upvote"><%= Vote.where('voteable_id =? AND vote =?', @profile.id, true).count %></span> <span class="glyphicon glyphicon-thumbs-up"></span>
							<span class="downvote"><%= Vote.where('voteable_id =? AND vote =?', @profile.id, false).count %> </span><span class="glyphicon glyphicon-thumbs-down"></span>


							</span></h2>
							<ul class="list">
								
							<% @feedbacks.each do |l| %>
						<li>
							<%= image_tag Profile.find_by_vendor_id(l.author_id).avatar.url('thumb')  %>
							<h4><%= l.reviewbody %></h4>
							</p>
							</li>
							<% end %>
							</ul>
					</div>
					
					
					<div class="small-box">
					<h2 class="list-heading">Orders</h2>
					<ul class="nav nav-tabs" id="myTab">
					  <li class="active"><a href="#sales" data-toggle="tab">Sold</a></li>
					  <li><a href="#bought" data-toggle="tab">Bought</a></li>
					</ul>

					<div class="tab-content">
					  <div class="tab-pane active" id="sales">	<ul class="list">
						<% @orders.each do |o| %>
						<% if current_vendor.id == o.seller_id  %>
						
						<li>
					<h4><%= o.devicename %> sold to <%= Profile.find_by_vendor_id(o.vendor_id).displayname %> at $<%= o.ordertotal %></h4>
					<p><%=o.shipping_address%></p>
					<% if Trackcode.find_by_order_id(o.id) %>
						<a href="/trackcodes/<%= o.id%>" class="btn btn-success btn-sm">See tracking info</a>
						<% else %>
					<a href="/trackcodes/new?id=<%= o.id%>" class="btn btn-success btn-sm">Add tracking info</a>
					<% end %>
						</li>
						<% end %>
						<% end %>
					</ul>
					</div>
					  <div class="tab-pane" id="bought">
					  	
						<ul class="list">
							<% @orders.each do |o| %>
							<% if current_vendor.id == o.vendor_id  %>

							<li>
					<h4><%= o.devicename %> bought from <%= Profile.find_by_vendor_id(o.seller_id).displayname %> at $<%= o.ordertotal %></h4>
						<p><%=o.shipping_address%></p>
							<a href="/listings/<%o.listing_id%>" class="btn btn-warning btn-sm">View Listing</a>
						<% if Trackcode.find_by_order_id(o.id) %>
							<a href="/trackcodes/<%= o.id%>" class="btn btn-success btn-sm">See tracking info</a>
					<% end %>
							</li>
							<% end %>
							<% end %>
						</ul>
					  </div>
					</div>


					</div>
					
					
					
</div>		
		
</section>

	