<section class="dashboard">
	<div class="wrapper">
		<% @profil = Profile.find_by_vendor_id(current_vendor.id)  %>
			<div class="main-box">	
					<%=image_tag @profil.avatar.url(:medium), :class => "main-avatar" %>
					<%= link_to "Edit Profile", "/profiles/#{@profil.id}/edit" %> <span class="glyphicon glyphicon-asterisk"></span>
					<%= link_to "Sell", "/profiles/#{@profil.id}/edit" %> <span class="glyphicon glyphicon-asterisk"></span>
					<%= link_to "Buy", "/profiles/#{@profil.id}/edit" %>
					
		</div>
		<div class="content">
		<% if  @profil %>
	<% else %>
	<%= link_to "Complete your Profile", new_profile_path %>
	<%end %>
		</div>
		<div class="small-box">
			<h2 class="list-heading">Listings</h2>
				<ul class="list">
				<% @listings.each do |l| %>
				<a href ="/listings/<%=l.id%>"><li>
				<%= image_tag l.assets.first.image.url('thumb') unless l.assets.first.nil? %>
				<h4><%= l.headline %></h4>
				<p><%= l.askprice %>
				</p>
				</li></a>
				<% end %>
				</ul>
				</div>
				
				<div class="small-box">
					<h2 class="list-heading">Reviews <span class="pull-right"><%= Review.where(:thumbsup => true).count%> <span class="glyphicon glyphicon-thumbs-up"></span></span></h2>
							<ul class="list">
								
							<% @feedbacks.each do |l| %>
						<li>
							<%= image_tag Profile.find_by_vendor_id(l.author_id).avatar.url('thumb')  %>
							<p><%= l.reviewbody %></p>
							</p>
							</li>
							<% end %>
							</ul>
					</div>
					
					
					<div class="small-box">
					<h2 class="list-heading">Orders</h2>
					
					</div>
					
					
					
</div>		
		
</section>
	