<% content_for :title,  "Welcome, here you can edit listings, view orders & write reviews!" %>

	<div class="outer">

							<div class="centered-800 section rounded row">								
								<div class="col-md-12 col-sm-12 col-xs-12 section-heading">
									
									<% @profil = Profile.find_by_vendor_id(current_vendor.id)  %>


									<%=image_tag @profil.avatar.url(:mini), :class => "main-avatar small-img" %>
								
									<div class="useful-links pull-right"><%= link_to "Edit Profile", "/profiles/#{@profil.id}/edit" %> <span class="glyphicon glyphicon-asterisk"></span>
									<%= link_to "Sell", "/pages/sell" %> <span class="glyphicon glyphicon-asterisk"></span>
									<%= link_to "Buy", "/pages/buy" %>
									</div>

									<% if  @profil %>
									<% else %>
									<%= link_to "Complete your Profile", new_profile_path %>
									<%end %>
									
									<div id="dialog" title="Basic dialog">
									  	<a class="twitter-share-button"
										  href="https://twitter.com/share">
										Tweet
										</a>
										<script type="text/javascript">
										window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
										</script>
									</div>
									
								</div>
								
	<div class="col-md-8 phoneshow">
						
			
			<div class="table-responsive" id="listings">
			<h3 class="listing-heading">Hey <span class="propernoun"><%=  Account.find(current_vendor.id).subdomain  %></span>, here are all your listings.</h3>
			<hr class="gray">
			<table class="table table-condensed">
				<tr class="active">
					<th>Image</th>
					<th>Title</th>
					<th>Price</th>
					<th>Status</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<% @listings.each do |dlisting| %>
				
				<tr  class='<%=
				@class = ""
					if dlisting.status == "Approved"
					@class = "active"
				end
				if
					dlisting.status == "Pending"
					@class = "danger"
				end
				if dlisting.status == "Sold"
					@class = "success"
				end
				
				 @class %>'><td><%= image_tag dlisting.assets.first.image.url('thumb') unless dlisting.assets.first.nil? %></td>
				
				<td>
					<a href ="/listings/<%=dlisting.id%>">
				<%= dlisting.headline %>
				</a>
				
				</td>
				<td>
					
				
			<%= dlisting.askprice.to_i + 10 %></td>
					<td>
						<%= dlisting.status %>
						</td>
					
					<td><a href="/listings/<%= dlisting.id%>/edit" ><span class="glyphicon glyphicon-pencil"></span></a></td><td><%= link_to "/listings/#{dlisting.id}", method: "delete" do %>
    <span class="glyphicon glyphicon-remove"></span><% end %></td></tr>
				<% end %>
				</table>			
		</div>
		
		
		
		
		
		<div class="table-responsive" id="activelistings">
		<h3 class="listing-heading">Hey <span class="propernoun"><%=  Account.find(current_vendor.id).subdomain  %></span>, here are all your  active listings.</h3>
		<hr class="gray">
		<table class="table table-condensed">
			<tr class="active">
				<th>Image</th>
				<th>Title</th>
				<th>Price</th>
				<th>Status</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<% @listings.each do |dlisting|
			if dlisting.status == "Approved" %>
			<tr><td><%= image_tag dlisting.assets.first.image.url('thumb') unless dlisting.assets.first.nil? %></td>
			
			<td>
				<a href ="/listings/<%=dlisting.id%>">
			<%= dlisting.headline %>
			</a>
			
			</td>
			<td>
				
			
		<%= dlisting.askprice.to_i + 10 %></td>
				<td>
					<%= dlisting.status %>
					</td>
				
				<td><a href="/listings/<%= dlisting.id%>/edit" ><span class="glyphicon glyphicon-pencil"></span></a></td><td><%= link_to "/listings/#{dlisting.id}", method: "delete" do %>
    <span class="glyphicon glyphicon-remove"></span><% end %></td></tr>
			<% end %>
			<%end%>			
			
			</table>
	</div>
		
		
		
			<div class="table-responsive" id="pendinglistings">
			<h3 class="listing-heading">Hey <span class="propernoun"><%=  Account.find(current_vendor.id).subdomain  %></span>, here are all your  pending listings.</h3>
			<hr class="gray">
			<table class="table table-condensed">
				<tr class="active">
					<th>Image</th>
					<th>Title</th>
					<th>Price</th>
					<th>Status</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<% @listings.each do |dlisting|
				if dlisting.status == "Pending" %>
				<tr>
					<td><%= image_tag dlisting.assets.first.image.url('thumb') unless dlisting.assets.first.nil? %></td>

				<td>
					<a href ="/listings/<%=dlisting.id%>">
				<%= dlisting.headline %>
				</a>
				</td>
				
				<td>
			<%= dlisting.askprice.to_i + 10 %>
			</td>
					<td>
						<%= dlisting.status %>
						</td>

					<td><a href="/listings/<%= dlisting.id%>/edit" ><span class="glyphicon glyphicon-pencil"></span></a></td><td><%= link_to "/listings/#{dlisting.id}", method: "delete" do %>
    <span class="glyphicon glyphicon-remove"></span><% end %></td></tr>
				<% end %>
				<%end%>			

				</table>
		</div>
		
		
		
		
		
			<div class="table-responsive" id="soldlistings">
			<h3 class="listing-heading">Hey <span class="propernoun"><%=  Account.find(current_vendor.id).subdomain  %></span>, here are all your sold listings.</h3>
			<hr class="gray">
			<table class="table table-condensed">
				<tr class="active">
					<th>Image</th>
					<th>Title</th>
					<th>Price</th>
					<th>Status</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<% @listings.each do |dlisting|
				if dlisting.status == "Sold" %>
				<tr><td><%= image_tag dlisting.assets.first.image.url('thumb') unless dlisting.assets.first.nil? %></td>

				<td>
					<a href ="/listings/<%=dlisting.id%>">
				<%= dlisting.headline %>
				</a>

				</td>
				<td>


			<%= dlisting.askprice.to_i + 10 %></td>
					<td>
						<%= dlisting.status %>
						</td>

					<td><a href="/listings/<%= dlisting.id%>/edit" ><span class="glyphicon glyphicon-pencil"></span></a></td><td><%= link_to "/listings/#{dlisting.id}", method: "delete" do %>
    <span class="glyphicon glyphicon-remove"></span><% end %></td></tr>
				<% end %>
				<%end%>			

				</table>
		</div>
		
		
		
			<div class="table-responsive" id="orders">
			<h3 class="listing-heading">Hey <span class="propernoun"><%=  Account.find(current_vendor.id).subdomain  %></span>, here are all your orders.</h3>
			<hr class="gray">
			<table class="table table-condensed">
				<tr class="active">
					<th>Title</th>
					<th>Shipping Address</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
				<% @orders.each do |o| %>
				
				<tr>
					<td>
				<%= o.devicename %> Sold to <%= Profile.find_by_vendor_id(o.vendor_id).displayname %> at $<%= o.ordertotal %>
				
				</td>
				<td>
					<%=o.shipping_address%>
				</td>
					<td>
						<%
							if current_vendor.id == o.seller_id %>
							 Sold
						<% end %>
						<%	if current_vendor.id == o.vendor_id %>
							 Bought
						<% end %>
						</td>
					
					<td>
						
							<% if Trackcode.find_by_order_id(o.id) %>
								<a href="/trackcodes/<%= o.id%>" class="btn btn-success btn-sm">See tracking info</a>
								<% else %>
							<a href="/trackcodes/new?id=<%= o.id%>" class="btn btn-success btn-sm">Add tracking info</a>
							<% end %>
						
					</td></tr>
				<% end %>
				
				</table>			
		</div>		
		
			<div class="table-responsive" id="soldorders">
			<h3 class="listing-heading">Hey <span class="propernoun"><%=  Account.find(current_vendor.id).subdomain  %></span>, here are all phones you sold.</h3>
			<hr class="gray">
			<table class="table table-condensed">
				<tr class="active">
					<th>Title</th>
					<th>Shipping Address</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
				<% @orders.each do |o| %>
			<%	if current_vendor.id == o.seller_id %>
				<tr>
					<td>
				<%= o.devicename %> Sold to <%= Profile.find_by_vendor_id(o.vendor_id).displayname %> at $<%= o.ordertotal %>
				
				</td>
				<td>
					<%=o.shipping_address%>
				</td>
					<td>
						<%
							if current_vendor.id == o.seller_id %>
							 Sold
						<% end %>
						<%	if current_vendor.id == o.vendor_id %>
							 Bought
						<% end %>
						</td>
					
					<td>
						
							<% if Trackcode.find_by_order_id(o.id) %>
								<a href="/trackcodes/<%= o.id%>" class="btn btn-success btn-sm">See tracking info</a>
								<% else %>
							<a href="/trackcodes/new?id=<%= o.id%>" class="btn btn-success btn-sm">Add tracking info</a>
							<% end %>
						
					</td></tr>
				<% end %>
				<% end %>
				
				</table>			
		</div>
		
			<div class="table-responsive" id="boughtorders">
			<h3 class="listing-heading">Hey <span class="propernoun"><%=  Account.find(current_vendor.id).subdomain  %></span>, here are all phones you bought.</h3>
			<hr class="gray">
			<table class="table table-condensed">
				<tr class="active">
					<th>Title</th>
					<th>Shipping Address</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
				<% @orders.each do |o| %>
			<%	if current_vendor.id == o.vendor_id %>
				<tr>
					<td>
				<%= o.devicename %> Sold to <%= Profile.find_by_vendor_id(o.vendor_id).displayname %> at $<%= o.ordertotal %>
				
				</td>
				<td>
					<%=o.shipping_address%>
				</td>
					<td>
						<%
							if current_vendor.id == o.seller_id %>
							 Sold
						<% end %>
						<%	if current_vendor.id == o.vendor_id %>
							 Bought
						<% end %>
						</td>
					
					<td>
						
							<% if Trackcode.find_by_order_id(o.id) %>
								<a href="/trackcodes/<%= o.id%>" class="btn btn-success btn-sm">See tracking info</a>
								<% else %>
							<a href="/trackcodes/new?id=<%= o.id%>" class="btn btn-success btn-sm">Add tracking info</a>
							<% end %>
						
					</td></tr>
				<% end %>
				<% end %>
				
				</table>			
		</div>
		
			<div class="table-responsive" id="sellerreview">
			<h3 class="listing-heading">Hey <span class="propernoun"><%=  Account.find(current_vendor.id).subdomain  %></span>, here is all the feedback you got.
				<span class="pull-right">
				<span class="upvote"><%= Vote.where('voteable_id =? AND vote =?', @profile.id, true).count %></span> <span class="glyphicon glyphicon-thumbs-up"></span>
				<span class="downvote"><%= Vote.where('voteable_id =? AND vote =?', @profile.id, false).count %> </span><span class="glyphicon glyphicon-thumbs-down gray"></span>
				</span>
				</h3>
			<hr class="gray">
				<table class="table table-condensed">
					<tr class="active">
						<th>Display picture</th>
						<th>Review</th>
					
					</tr>					
				<% @feedbacks.each do |dfeedback| %>
			<tr>
				<% cache dfeedback do %>
				<td><%= image_tag Profile.find_by_vendor_id(dfeedback.author_id).avatar.url('thumb')  %></td>
				<td><%= dfeedback.reviewbody %></td>
				<% end %>
				</tr>
				<% end %>
				
				</table>
		</div>
		
		
		
		
		
		
		
	
	</div>
	
		<div class="col-md-4 phoneshow yellowtop">

<h4>Listings</h4>
<ul class="nav" id="myTab">
<li class="active"><a href="#listings" id="listingbtn">All Listings</a></li>
<li><a href="#activelistings"  id="activelistingbtn">Currently active</a></li>
<li><a href="#pendinglistings" id="pendinglistingbtn">Pending review from admin</a></li>
<li><a href="#soldlistings" id="soldlistingbtn">Sold and archived listings</a></li>
</ul>	
<hr class="gray">

<h4>Orders</h4>
<ul class="nav" id="myTab">
<li class="active"><a href="#orders" id="orderbtn">All Orders</a></li>
<li><a href="#boughtorders"  id="boughtorderbtn">Phones you bought</a></li>
<li><a href="#soldorders" id="soldorderbtn">Phones that you've sold</a></li>
</ul>

<hr class="gray">
<h4>Reviews</h4>
<ul class="nav" id="myTab">
<li class="active"><a href="#listings" id="reviewbtn">All Reviews</a></li>
<li><a href="#buyerreview"  id="buyerreviewbtn">Reviews you wrote</a></li>
<li><a href="#sellerreview" id="sellerreviewbtn">Feedback as a seller</a></li>
</ul>



</div>			
	</div>		
	</div>
