<section class="dashboard">
	<div class="wrapper">
		<% @profil = Profile.find_by_vendor_id(current_vendor.id)  %>
			<div class="main-box">	
					<%=image_tag @profil.avatar.url(:medium), :class => "main-avatar" %>
					<%= link_to "Edit Profile", "/profiles/#{@profil.id}/edit" %> <span class="glyphicon glyphicon-asterisk"></span>
					<%= link_to "Sell", "/pages/sell" %> <span class="glyphicon glyphicon-asterisk"></span>
					<%= link_to "Buy", "/profiles/buy" %>
					
		</div>
		<div class="content">
		<% if  @profil %>
	<% else %>
	<%= link_to "Complete your Profile", new_profile_path %>
	<%end %>
		</div>
		<div class="row">
		<div class="small-box col-md-4 col-sm-4 col-xs-12">
			<h2 class="list-heading">Listings</h2>
			<ul class="nav nav-tabs">
			  <li class="active"><a href="#active" data-toggle="tab">Active</a></li>
			  <li><a href="#sold" data-toggle="tab">Sold</a></li>
			  <li><a href="#pending" data-toggle="tab">Pending</a></li>
			</ul>
			<div class="tab-content">
			  <div class="tab-pane active" id="active">	<ul class="list">
				<% @listings.each do |dlisting| %>
				<% if dlisting.status == 'Approved'%>
				<a href ="/listings/<%=dlisting.id%>"><li>
					<% cache dlisting do %>
				<%= image_tag dlisting.assets.first.image.url('thumb') unless dlisting.assets.first.nil? %>
				<h4><%= dlisting.headline %></h4>
				<p><%= dlisting.askprice.to_i + 10 %>
				</p>
				<a href="/listings/<%= dlisting.id%>/edit" class="btn btn-sm btn-success pull-right">Edit listing</a>
				<% end %>
				</li></a>
				<% end %>
				<% end %>
				
				</ul>
			</div>
			  <div class="tab-pane" id="sold">
				<ul class="list">
					<% @listings.each do |dlisting| %>
					<% if dlisting.status == 'Sold'%>
				
					<a href ="/listings/<%=dlisting.id%>"><li>
							<% cache dlisting do %>
						<%= image_tag dlsiting.assets.first.image.url('thumb') unless dlsiting.assets.first.nil? %>
						<h4><%= dlisting.headline %></h4>
						<p><%= dlisting.askprice.to_i + 10 %>
						</p>
						<a href="/listings/<%= dlisting.id%>/edit" class="btn btn-sm btn-success pull-right">Edit listing</a>
						<% end %>				
					</li></a>
					<% end %>
					<% end %>
					
					</ul>
						
			
			  </div>
			  <div class="tab-pane" id="pending">
			  	
				<ul class="list">
					<% @listings.each do |dlisting| %>
					<% if dlisting.status == 'Pending'%>
					<a href ="/listings/<%=dlisting.id%>"><li>
					<%= image_tag dlisting.assets.first.image.url('thumb') unless dlisting.assets.first.nil? %>
					<h4><%= dlisting.headline %></h4>
					<p><%= dlisting.askprice.to_i + 10 %>
					</p>
					<a href="/listings/<%= dlisting.id%>/edit" class="btn btn-sm btn-success pull-right">Edit listing</a>
					</li></a>
					<% end %>
					<% end %>
				
					</ul>
					
			  </div>
			</div>
			
			
				</div>
				
				<div class="small-box col-md-4 col-sm-4 col-xs-12">
				<h2 class="list-heading">Orders</h2>
				<ul class="nav nav-tabs" id="myTab">
				  <li class="active"><a href="#sales" data-toggle="tab">Sold</a></li>
				  <li><a href="#bought" data-toggle="tab">Bought</a></li>
				</ul>

				<div class="tab-content">
				  <div class="tab-pane active" id="sales">	<ul class="list">
					<% @orders.each do |o| %>
					<% if current_vendor.id == o.seller_id  %>
					
					<li>
				<h4><%= o.devicename %> sold to <%= Profile.find_by_vendor_id(o.vendor_id).displayname %> at $<%= o.ordertotal %></h4>
				<p><%=o.shipping_address%></p>
				<% if Trackcode.find_by_order_id(o.id) %>
					<a href="/trackcodes/<%= o.id%>" class="btn btn-success btn-sm">See tracking info</a>
					<% else %>
				<a href="/trackcodes/new?id=<%= o.id%>" class="btn btn-success btn-sm">Add tracking info</a>
				<% end %>
				
				
					</li>
					<% end %>
					<% end %>
					
				</ul>
				
				</div>
				  <div class="tab-pane" id="bought">
				  	
					<ul class="list">
						<% @orders.each do |o| %>
						<% if current_vendor.id == o.vendor_id  %>

						<li>
				<h4><%= o.devicename %> bought from <%= Profile.find_by_vendor_id(o.seller_id).displayname %> at $<%= o.ordertotal %></h4>
					<p><%=o.shipping_address%></p>
						<a href="/listings/<%o.listing_id%>" class="btn btn-warning btn-sm">View Listing</a>
					<%
			@profile = Profile.find_by_vendor_id(o.seller_id)		
					 if Trackcode.find_by_order_id(o.id) %>
						<a href="/trackcodes/<%= o.id%>" class="btn btn-success btn-sm">See tracking info</a>
				<% end %>
				
				<% @reviewfound = Review.find_by_profile_id(@profile.id, :conditions => ["author_id = ? AND order_id = ?", o.vendor_id, o.id]) %>
				
				
					<% if @reviewfound.nil? %>
					<button class="btn btn-hero" data-toggle="modal" data-target="#something">
					Write a review</button>


						<div class="modal fade" id="something" tabindex="-1" role="dialog" aria-labelledby="somethingLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h1 class="modal-title hero" id="somethingLabel">Your Review -- 
							
							
										<%    @found = current_vendor.votes.find_by_voteable_id(@profile.id) %>

										<% if @found.nil? %>
										<span class="vote-img">	<%=link_to raw('<span class="glyphicon glyphicon-thumbs-up"></span>'), vote_for_profile_profile_path(@profile), :class=>"vote",:id=>"up", :remote => true %>
										<%=link_to raw('<span class="glyphicon glyphicon-thumbs-down"></span>'), vote_against_profile_profile_path(@profile), :class=>"vote",:id=>"down", :remote => true %></span>
										<% else%>

											<% if  @found.vote == false %>
											<span class="vote-img">	<%=link_to raw('<span class="glyphicon glyphicon-thumbs-up"></span>'), vote_for_profile_profile_path(@profile), :class=>"vote",:id=>"up", :remote => true %>
											<%=link_to raw('<span class="glyphicon glyphicon-thumbs-down"></span>'), vote_against_profile_profile_path(@profile), :class=>"vote",:id=>"down", :remote => true, :disabled => "disabled" %> 	
											</span>

											<% else %>
												<span class="vote-img">	<%=link_to raw('<span class="glyphicon glyphicon-thumbs-up"></span>'), vote_for_profile_profile_path(@profile), :class=>"vote",:id=>"up", :remote => true, :disabled => "disabled" %>
												<%=link_to raw('<span class="glyphicon glyphicon-thumbs-down"></span>'), vote_against_profile_profile_path(@profile), :class=>"vote",:id=>"down", :remote => true %></span>
											<%end%>

											<% end %>
							
							
							
							
							
							</h1>
						      </div>
						      <div class="modal-body">
									<%= form_for @review, :class=>"form-horizontal",  :role => "form" do |f| %>
							<div class="form-group">
								<%= f.text_area :reviewbody, :class=> "form-control", :placeholder=>"Write a review" %>
							</div> 
							<%= f.hidden_field :order_id, :value => o.id %>
								<%= f.hidden_field :profile_id, :value => Profile.find_by_vendor_id(o.seller_id).id %>
								<%= f.hidden_field :author_id, :value => o.vendor_id %>
								<input type="text" name="foo" style="display: none;">





						      </div>
						      <div class="modal-footer">
						        <div class="form-group">
									<%= f.submit 'Add', :disable_with => 'Adding...', :class =>"btn btn-primary btn-sm" %>
									</div>
								<% end %>
						      </div>
						    </div>
						  </div>
						</div>

					<% end %>
				
				
				
				
						</li>
						<% end %>
						<% end %>
					
					</ul>
					
				  </div>
				</div>
				</div>
				
				
				<div class="small-box col-md-4 col-sm-4 col-xs-12">
						<h2 class="list-heading">Reviews <span class="pull-right">
							<span class="upvote"><%= Vote.where('voteable_id =? AND vote =?', @profile.id, true).count %></span> <span class="glyphicon glyphicon-thumbs-up"></span>
							<span class="downvote"><%= Vote.where('voteable_id =? AND vote =?', @profile.id, false).count %> </span><span class="glyphicon glyphicon-thumbs-down"></span>


							</span></h2>
							<ul class="list">
								
							<% @feedbacks.each do |dfeedback| %>
						<li>
							<% cache dfeedback do %>
							<%= image_tag Profile.find_by_vendor_id(dfeedback.author_id).avatar.url('thumb')  %>
							<h4><%= dfeedback.reviewbody %></h4>
							<% end %>
							</li>
							<% end %>
							
							</ul>
						
					</div>
					
					



					
					
					
</div>		
		
</section>

	