
</div>
<% if !vendor_signed_in?%>
<section id="hero-intro">

	      <div class="text-center">
	        <h1 class="text-special">
	          Welcome to Zalpe!
	        </h1>
	      </div>
	      <div class="text-center">
	        <p class="text-lead">
	          Buy gently used mobile phones and tablets, without getting cheated.
	        </p>
	      </div>
		<div class="row">
	      <div class="col-md-4 ">
	        <span  class="glyphicon glyphicon-search"></span>
	        <div class="point-text">
	          <h3 class="text-special">
	            Search
	          </h3>
	          <p>
	            Find your desired phone.
	          </p>
	        </div>
	      </div>

	      <div class="col-md-4">
	        <span  class="glyphicon glyphicon-tasks"></span>
	        <div class="point-text">
	          <h3 class="text-special">
	            Analyze
	          </h3>
	          <p>
				Go through all the listings >>
	            Communicate with sellers.
	          </p>
	        </div>
	      </div>

	      <div class="col-md-4">
	        <span  class="glyphicon glyphicon-gift"></span>
	        <div class="point-text">
	          <h3 class="text-special">
	            Buy
	          </h3>
	          <p>
				Pay with paypal >>
	            Receive your phone.
	          </p>
	        </div>
	      </div>
	    </div>
	<!--
		<div class="main-form">
			<form class="form-inline" role="search" action ="/pages/searchresults">
		      <div class="form-group">
			      <div class="input-group-lg">
				<input type="text" name="search" placeholder ="Find a phone to buy or sell" class="typeahead form-control">		      </div>
				</div>
		      <button type="submit" class="btn btn-default">Go</button>
		    </form>
			</div>
			
			-->
	      <div class="row-space-top-3 row-space-8 text-center">
		
				 <br /><br />
						
	        
				<p class="hero"><button class="btn btn-info" data-toggle="modal" data-target="#something">
				Sign in</button>

				<span class="btn-seperator">OR </span>
			      <button class="btn btn-hero" data-toggle="modal" data-target="#myModal">
				Create a free account</button></p><br/>

				<p class="hero">No credit card required • No commitment • Free to sell</p>
				
				<a href="/pages/about" class="h4">
		          More about Zalpe »
		        </a><br/>
				
			</div>

				<div class="modal fade" id="something" tabindex="-1" role="dialog" aria-labelledby="somethingLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h1 class="modal-title hero" id="somethingLabel">Sign in</h1>
				      </div>
				      <div class="modal-body">
						<%= form_for(@vendor, :url => session_path(@vendor)) do |f| %>
						 	<div class="form-group">
							<div class="input-group-lg">
						 <%= f.email_field :email, :class=> "form-control required", :placeholder=>"Email", :required => true %>
						 <%= f.password_field :password, :class=> "form-control required", :placeholder=>"Password", :required => true %>
						</div>
						</div>


				      </div>
				      <div class="modal-footer">
				        	<div class="form-group"> <%= f.submit "Sign in", :disable_with => 'Signing in...', :class =>"btn btn-primary btn-lg" %></div>
						<% end %>
				      </div>
				    </div>
				  </div>
				</div>




					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h1 class="modal-title hero" id="myModalLabel">Create a free account
							</h1>
					      </div>
					      <div class="modal-body">
								<%= form_for @account, :class=>"form-horizontal",:id=> "account-form",  :role => "form" do |f| %>
									<div class="form-body">
										<div class="form-group">
										<div class="input-group-lg">
											<%= f.text_field :subdomain, :class=> "form-control required", :placeholder=>"Display name" %>
										</div>  
										</div>

										<%= f.fields_for :owner do |builder| %>
										<div class="form-group">
										<div class=" input-group-lg">
											<%= builder.text_field :email, :class=> "form-control required", :placeholder=>"Email" %>
										</div>  
										</div>
										<div class="form-group">
										<div class="input-group-lg">
											<%= builder.password_field :password, :class=> "form-control required", :placeholder=>"Password" %>
										</div>  
										</div>
										<div class="form-group">
										<div class="input-group-lg">
											<%= builder.password_field :password_confirmation, :class=> "form-control required", :placeholder=>"Password Confirmation" %>
										</div>  
										</div>

										<%= builder.fields_for :profile do |p| %>
										<div class="form-group">
										<div class=" input-group-lg">
										<%=p.label:country, "Country" %> <%= p.country_select :country, ["United States"] %>
										</div>  
										</div>

										<% end %>

										<% end %>



					      </div>
					      <div class="modal-footer">
					       			<div class="form-group">
									<%= f.submit "Signup", :disable_with => 'Adding...', :class =>"btn btn-primary btn-lg" %></div>	<% end %></div>



					    </div>
					  </div>
					</div>




	
	</section>
	
	<%end%>
	<div class="container">
    
			<%= render partial: 'pages/phones' %>
				</div>
		</section>