<section class="hero">
	<div class="wrap row">
		<% if vendor_signed_in? %>

		<%else%>
	<h1 class="hero">Buy and Sell Mobile Phone & Tablets. Register now!</h1>
<p class="hero">We are low-cost, secure and easy to use.<br/> Already have an account?  <%= link_to "Sign in", new_vendor_session_path %>
</p>
<div class=" col-md-4">
	</div>

	<div class="panel panel-default col-md-4">
		<div class="panel-body">
		<%= form_for @account, :class=>"form-horizontal",:id=> "account-form",  :role => "form" do |f| %>
			<h1 class="hero">Sign up</h1>
			<div class="form-body">
				<div class="form-group">
				<div class="input-group-lg">
					<%= f.text_field :subdomain, :class=> "form-control required", :placeholder=>"Display name" %>
				</div>  
				</div>

				<%= f.fields_for :owner do |builder| %>
				<div class="form-group">
				<div class=" input-group-lg">
					<%= builder.text_field :email, :class=> "form-control required", :placeholder=>"Email" %>
				</div>  
				</div>
				<div class="form-group">
				<div class="input-group-lg">
					<%= builder.password_field :password, :class=> "form-control required", :placeholder=>"Password" %>
				</div>  
				</div>
				<div class="form-group">
				<div class="input-group-lg">
					<%= builder.password_field :password_confirmation, :class=> "form-control required", :placeholder=>"Password Confirmation" %>
				</div>  
				</div>

				<%= builder.fields_for :profile do |p| %>
				<div class="form-group">
				<div class=" input-group-lg">
				<%=p.label:country, "Country" %> <%= p.country_select :country, ["United States"] %>
				</div>  
				</div>
			

				<% end %>


				<% end %>

				<div class="form-group">
				<%= f.submit "Signup", :disable_with => 'Adding...', :class =>"btn btn-primary btn-lg btn-block" %>
				<% end %>
</div>
</div>

 
<%end%>
	<div class=" col-md-4">
</div>
</div>
</section>
<section>
		<nav class="navbar navbar-default" role="navigation">
		<ul class="nav navbar-nav">
			<li><%= link_to "AT&T", '/?msp=AT&T'%></li>
			<li><%= link_to "Sprint", "/?msp=Sprint"%></li>
			<li><%= link_to "T-Mobile", "/?msp=T-Mobile"%></li>
			<li><%= link_to "Verizon", "/?msp=Verizon"%></li>
			<li><%= link_to "Unlocked", "/?msp=Unlocked"%></li>
			<li><%= link_to "All", "/"%></li>
</ul>
</nav>
		
	<div class="wrapper">
	
			<%= render partial: 'pages/phones' %>
	
				</div>
		</section>