</div><section>
	<%	@imgurl = "/newphoneimages/" + @phone.modelname.gsub(" ", "-").downcase + ".png" %>
	
	<div class="cushion row">
		<div class="col-md-3">
				<div class= "phone-img side-info">
					<%= image_tag @imgurl %>
				</div>
				
			
			<div class= "side-info">
			<h4><%= @listing.devicename %></h4>
			</div>
			<div class ="side-info">
					<div class="jumbtron"><h1>$<%=@listing.askprice.to_i + 10 %></h1></div>
				<h4><%=@listing.headline %></h4>
				<p><%=@listing.description %></p>
				<p>Paypal Account: <%= @listing.paypalstatus %></p>
			</div>
			<div class="listing-author side-info">
				<ul>
			<li>Listed by <%= @author.email.split("@")[0] %></li>
			<li>Member Since <%=@author.created_at.to_date() %></li>
			<li>From <%= @profile.country unless @profile.nil? %></li>
			<li>last updated on <%=@listing.updated_at.to_date %></li>
			<li> <%=  link_to "View Seller's Profile",  "/profiles/#{@profile.id}" unless @profile.nil? %> </li>
			
			</ul>
				<%= social_share_button_tag(@listing.headline) %><br/>
						
			</div>
 		</div>
		<div class="col-md-6">
					<%= image_tag @imgurl %>
		</div>
		<div class="col-md-3">
			<div class ="side-info">
				<h4>Condition - <%= @listing.devicecondition %></h4>
				<p class="devicecondition">
				<% if @listing.devicecondition == "Mint"%>
					<ul>
						<li>Functions flawlessly</li>
						<li>Perfect screen condition</li>
						<li>No signs of use</li>
						</ul>
						<% end %>
						<% if @listing.devicecondition == "Good"%>
						
					<ul>
						<li>Functions flawlessly</li>
						<li>Good screen condition</li>
						<li>Few Cosmetic imperfections</li>
						</ul>
							<% end %>
							<% if @listing.devicecondition == "Fair"%>

						<ul>
							<li>Functions flawlessly</li>
							<li>Good screen condition</li>
							<li>Some scratches or worn paint</li>
							</ul>
								<% end %>
								<% if @listing.devicecondition == "New"%>
									<ul>
										<li>Never activated, rooted, or refurbished</li>
										<li>Includes original box and all accessories</li>
										<li>No signs of use</li>
										</ul>
											<% end %>
				</p>
				<p><%=@listing.moddetails%></p>
				</div>
					<div class ="side-info">
						<h4>Accessories</h4>
							<p><%= @listing.accessories %></p>
							</div>
							
							<div class="side-info">
								<h4>Shipping and Handling</h4>
								<p>This device will ship from: <%= @listing.itemlocation %>
								This seller will <% if !@listing.shipinternationally  %> NOT <% end %> ship internationally.
								<p>
								Sellers are expected to ship within two business days of receiving payment.<br/>
								Standard shipping costs (ground shipping with tracking in the same country) should be included in listed price, unless otherwise stated in below description.</p>

								<% if !@listing.shippingdetails.nil? %>
								<p>
									<strong>Shipping Details: </strong><%=  @listing.shippingdetails %>
								</p>
								<% else %>
								<p>No further shipping details provided</p>
								<%end %>
							</div>

							<div class="side-info">
								<h4>Returns Policy</h4>
								<p>This seller will <% if !@listing.returnsallowed  %><strong> NOT </strong><% end %> accept returns.</p>
									<% if !@listing.shippingdetails.nil? %>
									<p>
										<strong>Return policy: </strong><%=  @listing.returnpolicy %>
									</p>
									<% else %>
									<p>No further returns details provided</p>
									<%end %>
									</div>
								</div>				


										</div>	
							
	</div>
</section>