
<section class="long-form-section">
	<div class="header silver-color offshadow">
		<h1 class="page-title auth-form-heading">Your tracking info</h1>
</div>
<div class="container">	

	<table class="table table-bordered">
		<tr><th>Shipping Company</th><th>Shipped from</th><th>Shipped to</th><th>Shipped on</th><th>Tracking Code</th></tr>
		<tr><td><%=@trackcode.shipping_company%></td><td><%=@trackcode.shipping_city%></td><td><%=@trackcode.shippingto_city %></td><td><%=@trackcode.shipping_date %></td><td><%=@trackcode.code %></td></tr>
	
	</table>
	<br/><br/>
	<a href="/pages/dashboard"><- Back</a>
	</div>
</section>