<section>
	<div class="wrapper">
		<div class="cushion">
			<h1>Tracking info for your Order</h1>
	<table class="table table-bordered">
		<tr><th>Shipping Company</th><th>Shipped from</th><th>Shipped to</th><th>Shipped on</th><th>Tracking Code</th></tr>
		<tr><td><%=@trackcode.shipping_company%></td><td><%=@trackcode.shipping_city%></td><td><%=@trackcode.shippingto_city %></td><td><%=@trackcode.shipping_date %></td><td><%=@trackcode.code %></td></tr>
	</div>
		
	</div>
</section>