<h4><%= Dear Seller%>,</h4>

<h4>Your listing for <%=@listing.devicename %> with the id <%=@listing.id %> has been approved.</h4> <p>Please go to <%= link_to "http://www.zalpe.com/listings/#{@listings.id}","http://www.zalpe.com/listings/#{@listings.id}" %> to see your listing.</p>
	<p>Thanks and Regards,<br/>
<%=link_to "Zalpe Team", "http://www.zalpe.com" %></p>