<div class="outer">
<div class="main">
						<div class="centered-800 section rounded phoneshow">
							
		<h1>Transaction complete</h1>
<p>Thanks <%= Profile.find_by_vendor_id(session[:buyer_id]).displayname %> for your payment.</p>
<hr class="gray">

<table class="table table-bordered">
	<tr><th>Orderno</th><th>Item</th><th>Price</th><th>Estimated Shipping date</th></tr>
	<tr><td><%= @order.id%></td><td><%= @order.devicename %></td><td><%= @order.ordertotal%></td><td><%= Time.now.to_date + 2 %></td></tr>
</table>
<hr class="gray">
<p>This device will ship from: <%= Listing.find(@lid).country %>.<br/>

Sellers are expected to ship within two business days of receiving payment.
</p>
<p>We have sent you a confirmation mail, please save it for future reference.</p>
<p>Meanwhile free free to <%= link_to "Browse More", root_path %>. You can checkout < a href="/pages/iphones-for-sale">all iPhones that are on sale in Singapore</a></p>
</div>
</div>
</div>