<% if params[:l] %>

<div class="outer">
<div class="main">
						<div class="centered-800 section rounded phoneshow">
							
							<h3 class="center-block">Thanks for using Zalpe, here are your order details</h3> 
							
							<table class="table table-condensed">
								<tr class="active">
									<th class="col-md-2">Image</th>
									<th class="col-md-2">Phone</th>
									<thclass="col-md-4">Title</th>
									<th class="col-md-1">Quantity</th>
									<th class="col-md-3">Total Price</th>
								</tr>
					<tr>
						<td class="col-md-2"><%= image_tag @listing.assets.first.image.url('small') unless @listing.assets.first.nil? %></td>
						<td class="col-md-2"><%= Phone.find(@listing.phone_id).modelname %></td>
						<td class="col-md-4"><%=@listing.headline %></td>
						<td class="col-md-1">1</td>
						<td class="col-md-3"><%=@listing.askprice.to_i + 20 %></td>
						
					</tr>
					<hr class="gray">
					<tr>
							<td class="col-md-2">Total</td>
							<td class="col-md-2"></td>
							<td class="col-md-4"></td>
							<td class="col-md-1"></td>
							<td class="col-md-3"><%=@listing.askprice.to_i + 20 %></td>
						
					</tr>

								</table>		
								<hr class="gray">					
							
			<%@address = Profile.find_by_vendor_id(current_vendor.id).address%>
		<% if !@address.blank? %>
<h4 class="center-block">Confirm your Shipping address, change if necessary</h4> 
<form name="purchase-form" role="form" action="/transactions/processtransaction" method="POST">
	<input  class="form-control"name="address" type="text" size="50" value="<%= @address %>">
	<input type="hidden" name="l" value="<%= params[:l]%>"><br/>
	<input class="btn redround" type="Submit" value="Pay now!">
	
	</form>
	
	
	<% else %>
	
		<h4 class="center-block"> We didn't find any shipping address on your profile, please enter it below</h4>
	<form name="purchase-form" role="form" action="/transactions/processtransaction" method="POST">
		<input name="address" type="text" size="50" placeholder="Enter your full shipping address here (Address line1, Address line 2 , City, State, Pin code, Country)!">
		<input type="hidden" name="l" value="<%= params[:l]%>"><br/>
		<input class="btn redround" type="Submit" value="Pay now!">

		</form>
		
		<% end %>
		
		</div>
	</div>
</div>

<% else %>
<% redirect_to root_url() %>
<%end %>