<!DOCTYPE html>
<html>
<head>
  <title>Phonestobuy - Buy and Sell mobile phones and tablets. Every listing is verified by us.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,400' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../javascripts/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<a class="navbar-brand" href="<%= root_url %>"><span>tring</span><strong>market</strong></a>
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		   
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		      <li>	<%= link_to "Home", root_path %>
			</li>
			<li><%= link_to "About", "/pages/about"%></li>
			<li><%= link_to "Help", "/pages/help"%></li>		    
		    </ul>
		    <form class="navbar-form navbar-left" role="search" action ="<%= root_path %>">
		      <div class="form-group">
				<input type="text" name="search" placeholder ="Find your phone" class="typeahead form-control">		      </div>
		      <button type="submit" class="btn btn-default">Go</button>
		    </form>
		    <ul class="nav navbar-nav navbar-right">
		      <li>		<% if vendor_signed_in? %>
					<li><%= link_to "Sign out", destroy_vendor_session_path, :method => 'delete' %></li>
				<% else %>
			      <li><%= link_to "Sign in or", new_vendor_session_path %></li>
			      <li><%= link_to "Sign up", new_account_path %></li>
			
				<% end %></li>
		    
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
	</header>
	<div class ="container">
			<% if flash[:notice] %>
			<div class='alert <% if flash[:notice] =~ /Success/i %> alert-success <% else %> alert-error<% end %>' data-dismiss="alert">
			<p><%= flash[:notice] %></p>
			</div>
			<% end %>
<%= yield %>
</div>
</body>
</html>

<script type="text/javascript">
$(document).ready(function() {
	
	$(".fancybox").fancybox();
	
  $('.typeahead').typeahead( {name: 'planets', remote: '/pages/phones.json?search=%QUERY', limit: 10
// [ "Fuck", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune" ] 
});
});

</script>

