<!DOCTYPE html>
<html>
<head>
  <title>Zalpe - Buy and Sell mobile phones and tablets. Every listing is verified by us.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,400' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>

<meta name="viewport" content="initial-scale=1">

  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<a class="navbar-brand" href="<%= root_url %>"><span></span><strong>Zalpe</strong></a>
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		   
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		      <li>	<%= link_to "Home", root_path %>
			</li>
			<li><%= link_to "Buy", '/pages/about#buy'%></li>
			<li><%= link_to "Sell", '/pages/about#sell'%></li>
					    
		    </ul>
		    <form class="navbar-form navbar-left" role="search" action ="<%= root_path %>">
		      <div class="form-group">
				<input type="text" name="search" placeholder ="Find your phone" class="typeahead form-control">		      </div>
		      <button type="submit" class="btn btn-default">Go</button>
		    </form>
		    <ul class="nav navbar-nav navbar-right">
		      		<% if vendor_signed_in? %>
					<li><%= link_to "My Dashboard", dashboard_url %></li>
					<li><%= link_to "Sign out", destroy_vendor_session_path, :method => 'delete' %></li>
				<% else %>
			      <li><%= link_to "Sign in", new_vendor_session_path %></li>
			      <li><%= link_to "Sign up", new_account_path %></li>
			
				<% end %>
		    
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
	</header>
	<div class ="container">
			<% if flash[:notice] %>
			<div class='alert <% if flash[:notice] =~ /Success/i %> alert-success <% else %> alert-error<% end %>' data-dismiss="alert">
			<p><%= flash[:notice] %></p>
			</div>
			<% end %>
<%= yield %>
</div>
<footer>

	<div class="links">
	<a href="/pages/about">About Us</a> | 
	<a href="/pages/faq">FAQ</a> | 
	<a href="/pages/terms">Terms and Conditions</a>
	</div>
	</footer>
</body>
</html>
<script type="text/javascript">
$(document).ready(function() {
	
	
	
	
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
	  e.target // activated tab
	  e.relatedTarget // previous tab
	});
	
  $('.typeahead').typeahead( {name: 'planets', remote: '/pages/phones.json?search=%QUERY', limit: 10
// [ "Fuck", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune" ] 
});



$("#up").click(function() {
 
	$('#up').attr('disabled','disabled'); 
	$("#down").removeAttr('disabled');
	
});

	$("#down").click(function() {
		
			
		$("#up").removeAttr('disabled');
		$('#down').attr('disabled','disabled'); 
		
			
	});
	
	
	$(function() {

	    // Setup form validation on the #registerform element
	    $("#new_account").validate({
	        // Specify the validation rules
	        rules: {
	            "account[subdomain]": {
		required: true,
	rangelength: [6,40],
	},
	           "account[owner_attributes][email]": {
	                required: true,
	                email: true,
	
	            },
	            "account[owner_attributes][password]": {
	                required: true,
	            },
	            "account[owner_attributes][password_confirmation]": {
	                required: true,
	            }
	        },
	        // Specify the validation error messages
	        messages: {
	            "account[subdomain]": {
		required: "Please enter your display name",
		rangelength: "Enter a display name between 6 to 40 chararcters",
		
	},
	           "account[owner_attributes][password]": {
	                required: "Please provide a password",
	            },
	            "account[owner_attributes][password_confirmation]": {
	                required: "Please confirm the password",
	            },
	            "account[owner_attributes][email]": {
	required:	"Please enter a valid email address",
	email: "Please type in a valid email address"
	} 
	        },


	        submitHandler: function(form) {
	            form.submit();
	        }
	    });
	  });
	
	
	
	
	$(function() {

	    // Setup form validation on the #registerform element
	    $("#new_vendor").validate({

	        // Specify the validation rules
	        rules: {
	            
	            "vendor[email]": {
	                required: true,
	                email: true
	            },
	           "vendor[password]": {
	                required: true,
	            },
	            
	        },
	        // Specify the validation error messages
	        messages: {
	           
	            "vendor[password]": {
	                required: "Please provide a password",
	            },
	          
	            "vendor[email]": "Please enter a valid email address",
	        },

	        submitHandler: function(form) {
	            form.submit();
	        }
	    });
	  });
	
	
	
	
	$(function() {

	    // Setup form validation on the #registerform element
	    $("#new_listing").validate({
	        // Specify the validation rules
	        rules: {
	            "listing[headline]": {
		required: true,
	rangelength: [6,60],
	},
	
	"listing[description]": {
required: true,
rangelength: [6,140],
},

"listing[devicecondition]": {
required: true,
},
"listing[askprice]": {
required: true,
digits: true,
},
"listing[accessories]": {
required: true,
},

"listing[deivcecolor]": {
required: true,
},
"listing[devicestorage]": {
required: true,
},
"listing[modified]": {
required: true,
},
"listing[itemlocation]": {
required: true,
},
"listing[shipinternationally]": {
required: true,
},
"listing[returnsallowed]": {
required: true,
},
"listing[paypalconfirmed]": {
required: true,
},
	           "listing[paypalemail]": {
	                required: true,
	                email: true,

	            },
	            "listing[deviceimei]": {
	                required: true,
					digits:true,
					maxlength: 15,
	            },
	            
	        },
	        // Specify the validation error messages
	        messages: {
	            "listing[headline]": {
		required: "Please enter a heading",
		rangelength: "Enter a heading between 6 to 60 chararcters",

	},
	         "listing[description]": {
		required: "Enter a description",
		rangelength: "Description should be between 6 and 140",
		},

		"listing[devicecondition]": {
		required: "Please select a valid device condition",
		},
		"listing[askprice]": {
		required: "You need to enter a price for your phone",
		digits: "Please enter only digits",
		},
		"listing[accessories]": {
		required: "Enter all the accessories that come with the phone. Enter none for nothing",
		},

		"listing[deivcecolor]": {
		required: "Enter the color of your phone",
		},
		"listing[devicestorage]": {
		required: "Enter the storage capacity of the phone",
		},
		"listing[modified]": {
		required: "Please select if you have modified the device",
		},
		"listing[itemlocation]": {
		required: "Enter a valid location where your phone is located",
		},
		"listing[shipinternationally]": {
		required: "Please select if you will ship internationally",
		},
		"listing[returnsallowed]": {
		required: "Please select if you will allow returns",
		},
		"listing[paypalconfirmed]": {
		required: "Please select if you want the buyer to have a paypal confirmed address",
		},
			           "listing[paypalemail]": {
			                required: "Enter the paypal email address where you want to receive the money",
			                email: "Please enter a valid email address",

			            },
			            "listing[deviceimei]": {
			                required: "Enter the valid device IMEI.",
							digits: "Please enter only digits",
							maxlength: "IMEI numbers are just 15 digits, your number is more than that"
			            }
	        },
	
	
		    debug: true,
		

	        submitHandler: function(form) {
	            form.submit();
	        }
	    });
	  });
	
	
	
	
	
	$(function() {

	    // Setup form validation on the #registerform element
	    $("#new_comment").validate({

	        // Specify the validation rules
	        rules: {

	            "comment[commentbody]": {
	                required: true,
	            },
	           

	        },
	        // Specify the validation error messages
	        messages: {

	            "comment[commentbody]": {
	                required: "Please write something first. Empty comments not allowed",
	            },

	           
	        },

	        submitHandler: function(form) {
	            form.submit();
	        }
	    });
	  });
	
	
	$(function() {

	    // Setup form validation on the #registerform element
	    $("#new_review").validate({

	        // Specify the validation rules
	        rules: {

	            "review[reviewbody]": {
	                required: true,
	            },


	        },
	        // Specify the validation error messages
	        messages: {

	            "review[reviewbody]": {
	                required: "Please write something first. Empty reviews not allowed",
	            },


	        },

	        submitHandler: function(form) {
	            form.submit();
	        }
	    });
	  });
	
	
	
	});
	
	



</script>

