<!DOCTYPE html>
<html>
<head>
  <title>Zalpe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>
<meta name="viewport" content="initial-scale=1">

  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top">
		<div class="centered-text">
			<a href="/pages/newhome"><h1 class="normal-logo">zalpe</h1></a>
		</div>
	</div>
<div class="container">
	<% if flash[:notice] %>
	<div class='alert top-alert <% if flash[:notice] =~ /Success/i %> alert-success <% else %> alert-danger<% end %>' data-dismiss="alert">
	<p><%= flash[:notice] %></p>
	</div>
	<% end %>
<%= yield %>
</div>
</body>
</html>
