<div class="outer">
					<div class="pane">							
						<div class="centered-text section centered-400 rounded offshadow">
	<h3 class="content-heading">sign up</h3>
	<hr class="gray">
<%= form_for @account, :id => "new_account",  :role => "form" do |f| %>
<p>
	<%= f.text_field :subdomain, :class=> "required", :placeholder=>"Username" %>
</p>

<%= f.fields_for :owner do |builder| %>
<p>
	<%= builder.text_field :email, :class=> " required", :placeholder=>"Email" %>
</p>
<p>
	<%= builder.password_field :password, :class=> "required", :placeholder=>"Password" %>
</p>
<p>
	<%= builder.password_field :password_confirmation, :class=> "required", :placeholder=>"Password Confirmation" %>
</p>

<%= builder.fields_for :profile do |p| %>
<p>
<%=p.label:country, "Country" %> <%= p.country_select :country, ["Singapore"] %>
</p>

<% end %>


<% end %>
<p>
<%= f.submit "Signup", :disable_with => 'Adding...', :class =>"btn btn-hero rounded" %>
</p>
<% end %>

</div>
</div>
</div>

<!-- Facebook Conversion Code for Zalpe Signups -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6015427392202';
fb_param.value = '0.01';
fb_param.currency = 'USD';
(function(){
var fpw = document.createElement('script');
fpw.async = true;
fpw.src = '//connect.facebook.net/en_US/fp.js';
var ref = document.getElementsByTagName('script')[0];
ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6015427392202&amp;value=0.01&amp;currency=USD" /></noscript>